{% load static %}
<div class="row" >
    <div class="col">
        <div id="bottom">
             <div class="blocks">
</div>                </div>
    </div>
</div>
<div class="row">
    <!-- footer partial will be hear -->
    <div class="col">
        <div>
          
<div class="footer-artwork" id="footer-artwork" >&nbsp;</div>
<div class="footer-wrapper full-width" id="footer-wrapper">
<div id="footer-menu">
        {% if request.session.lang == 'english' %}
            <div  style="padding-top: 10px!important;width: 480px!important;margin-top:0px;margin-left:20%;">
        <div class="text-center" style="font-size: 10pt!important;">
            Developed By <a style="font-size: 10pt!important;" href="" target="_tab">            <img src="/static/images/gmrwc_logo.png" width="50px" alt="" style="margin-top:10px">
    
            Deparment of ICT<span class="panel-body"></span>
            </a>
        </div>
    </div>
    
        {% else %}
    <div>
        <div class="text-center" style="font-size: 10pt!important;">
            কারিগরি সহায়তায় <a style="font-size: 10pt!important;" href="" target="_tab">            <img src="/static/images/gmrwc_logo.png" width="50px" alt="" style="margin-top:10px">
    
                <a href="https://test.gmrwc.edu.bd/department/2/Department%20%20Head/"> আইসিটি বিভাগ </a><span class="panel-body"></span>
            </a>
        </div>
    </div>
        {% endif %}

<div style="float: left; font-size: .9em;">
    {% if request.session.lang == 'english' %}
    Website Last Updated at:
    <span style="font-style: italic;">
        <!-- 2023-07-19 11:56:31 -->
                            <!-- last_content_updated is NOT NULL -->
            <!--                                         ২০২৩-০৭-২১ -->
                                <!--  -->
                                <!-- 2023-07-19 17:56:31 -->
                                {{date}}
                        
        
    </span>
    {% else %}
    সাইটটি শেষ হাল-নাগাদ করা হয়েছে:
    <span style="font-style: italic;">
        <!-- 2023-07-19 11:56:31 -->
                            <!-- last_content_updated is NOT NULL -->
            <!--                                         ২০২৩-০৭-২১ -->
                                <!--  -->
                                <!-- 2023-07-19 17:56:31 -->
                                ২০২৩-০৭-১৯ ১৭:৫৬:৩১
                        
        
    </span>
    {% endif %}

    
</div>
</div>

<div class="footer-credit" id="footer">
<p>
    পরিকল্পনা ও বাস্তবায়নে:
    <a href="//www.cabinet.gov.bd/"  title="মন্ত্রিপরিষদ বিভাগ" target="_blank">মন্ত্রিপরিষদ বিভাগ</a>,&nbsp;
    <a href="//a2i.gov.bd" title="এটুআই" target="_blank">এটুআই</a>,&nbsp;
    <a href="//www.bcc.gov.bd/" title="বিসিসি" target="_blank">বিসিসি</a>,&nbsp;
    <a href="//doict.gov.bd/" title="ডিওআইসিটি" target="_blank">ডিওআইসিটি</a>&nbsp;ও&nbsp;
    <a href="//www.basis.org.bd/" title="বেসিস" target="_blank">বেসিস</a>
</p>

</div>
</div>                </div>
    </div>
   
</div>
</div>