{% extends 'basepage/certificate_layout.html' %}

{% block content %}
{% load static %}

        {% if certificate %}
       
      
           
                {% for cert in certificate %}
         
                
               <fieldset> 
                <table width="100%" border="2px" cellspacing="0" cellpadding="2" align="center">
                    <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Your Certificate </th></thead>
                    <tbody>
                <form method="post" action="{% url 'create-certificate'%}" id="form1" name="form1">
                    {% csrf_token %}
                <tr>
                    
                    <td class="r-align-right r-ori-vert							col-md-4						" data-single="" data-cellid="grid_c1" data-pageid="1">
                   
                    Email:
                    </td>
                    
                    
                    <td class="col-md-2">
                        <input type="text" name="email" value=" {{cert.email}}" class="textfieldUSERinfo">
                    </td>
                    </tr>
                    
                    <tr>
                    
                    <td class="r-align-right r-ori-vert							col-md-4						" data-single="" data-cellid="grid_c3" data-pageid="1">
                     Phone:
                    </td>
                    
                    <td class=" r-ori-vert							col-md-6						" data-single="" data-cellid="grid_c4" data-pageid="1">
                        <input type="text" name="phone" value=" {{cert.phone}}" class="textfieldUSERinfo" max-length="11">
        
                    </td>
                    <td class="col-md-2"></td>
                    </tr>
                    <tr>
                    
                        <td class="r-align-right r-ori-vert							col-md-4						" data-single="" data-cellid="grid_c3" data-pageid="1">
                         Transaction:
                        </td>
                        
                        <td class=" r-ori-vert							col-md-6						" data-single="" data-cellid="grid_c4" data-pageid="1">
                            <input type="text" name="phone" value=" {{cert.transaction}}" class="textfieldUSERinfo" max-length="11">
            
                        </td>
                        <td class="col-md-2"></td>
                        </tr>
                    <tr>
                    
                    <td class=" r-ori-vert							col-md-4						" data-single="" data-cellid="grid_c9" data-pageid="1">
                    <div edit-form-cell="" class="clearfix">
                    </div>
                    </td>
                    
                    <td class=" r-ori-vert							col-md-6						" data-single="" data-cellid="grid_c10" data-pageid="1">
                    <div edit-form-cell="" class="clearfix">
                    </div>
                    </td>
                    <td class="col-md-2"></td>
                    </tr>
                    <tr >
                        <td colspan="5" align="right">                
                        <button type="submit"  class="btn btn-primary" >Get certificate</button>
                    </td></tr>
              </form>
              <td class=" r-ori-vert							col-md-4						" data-single="" data-cellid="grid_c9" data-pageid="1">
                <div edit-form-cell="" class="clearfix">
                </div>
                </td>
                
                <td class=" r-ori-vert							col-md-6						" data-single="" data-cellid="grid_c10" data-pageid="1">
                <div edit-form-cell="" class="clearfix">
                </div>
                </td>
                <td class="col-md-2"></td>
                </tr>
               
            </tbody>
        </table>
        
              <fieldset> 
              {% endfor %}
                
          {% else %}
          <fieldset style="margin-bottom: 2%;">
            <table width="50%" border="1" cellspacing="0" cellpadding="2" align="center">
              <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Choose Your Level Desired </th></thead>
              <tbody>
        
           <form method="post" action="{% url 'authenticate-certificate' %}" id="form1" name="form1">
                {% csrf_token %}
            <tr>

                <td class="r-align-right r-ori-vert							col-md-4						" data-single="" data-cellid="grid_c1" data-pageid="1">
               
                Email:
                </td>
                
                
                <td class="col-md-2">
                    <input type="text" name="email" class="textfieldUSERinfo">
                </td>
                </tr>
                
                <tr>
                
                <td class="r-align-right r-ori-vert							col-md-4						" data-single="" data-cellid="grid_c3" data-pageid="1">
                 Phone:
                </td>
                
                <td class=" r-ori-vert							col-md-6						" data-single="" data-cellid="grid_c4" data-pageid="1">
                    <input type="text" name="phone" class="textfieldUSERinfo" max-length="11">

                </td>
               
                
                <tr>
                
                <td class=" r-ori-vert							col-md-4						" data-single="" data-cellid="grid_c9" data-pageid="1">
                <div edit-form-cell="" class="clearfix">
                </div>
                </td>
                
                <td class=" r-ori-vert							col-md-6						" data-single="" data-cellid="grid_c10" data-pageid="1">
                <div edit-form-cell="" class="clearfix">
                </div>
                </td>
                <td class="col-md-2"></td>
                </tr>
                <tr >
                    <td colspan="5" align="right">                
                    <button type="submit"  class="btn btn-primary" >Submit</button>
                </td></tr>
            </tbody>
        </table>
        </fieldset>
          </form>
        
   
          {% endif %}
        

{% endblock  %}
