{% extends 'basepage/certificate_layout.html' %}
{% block content %}
{% load static %}
<style>
  #toast-container {
    visibility: hidden;
    position: fixed;
    z-index: 999999
}
   
 
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
 
  #toast-container.show {
    visibility: visible; 
    top: 30px;
    left: 50%;
    width: 100%;/* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 1s, fadeout 7s 8s;
    animation: fadein 1s, fadeout 7s 8s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
</style>
    <!-- CONTAINER -->
    <div id="toast-container" aria-level="polite" role="alert">
      <div class="toast toast-error" ><button class="toast-close-button" role="button">&#10006;</button>
          <div class="toast-message" >দুঃখিত! লাল চিহ্নিত বক্সে সঠিক তথ্য দিতে হবে</div>
      </div>
    </div>
    
    <div class="box_container" style="width: 100%; margin: 0px;">
      <div class="" style="margin: auto;width: 100%;">
          <!-- TITLE 
          -->
          <!-- FORMS -->
          <div >
    <form class="needs-validation" id="form-wrapper" action="{% url 'payfor-certificate' %}" method="post" name="form-wrapper" novalidate="">
          {% csrf_token %}
              <div id="qbox-container">
                      <div id="steps-container">
                          <div class="step d-block">
                            <div><h1 style="text-align: center;"><u>Personal Information</u></h1></div>

                            <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                              <tbody>
                              <tr>
                                <td align="left">
                                  <fieldset>
                                  <table width="100%" border="1" cellspacing="0" cellpadding="2">
                                    <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Personal Information</th></thead>
                                    <tbody>
                                    {% for field in form %}
                                    {{ field.errors }}
                                
                                      <tr>
                                          <td width="10%" align="left" valign="middle">&nbsp;</td>
                                          <td width="10%" align="left" valign="middle" class="black12">{{field.label_tag}}</td>
                                          <td width="10%" align="left" valign="middle" class="black12">:</td>
                                          <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                            <label>
                                              {{field}}                                        
                                            </label>
                                            <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                          <td width="5%" align="left" valign="middle">&nbsp;</td>
                                      </tr>
                                      {% endfor %}
                                      
                                        
                                    
      
                                  </tbody></table>
                                </fieldset>
                              </td>
                              
                            </tr>
                                
                            </tbody>
                          </table>
                            
                          </div>
                          <div class="step d-none">
                          <div><h1 style="text-align: center;"><u>Guardian Information </u></h1></div>

                          <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                              <td align="left">
                                <fieldset>
                                  <table width="100%" border="1" cellspacing="" cellpadding="5">
                                    <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;"><th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Permanent Adress</th></thead>
                                    <tbody>
                                      {% for field in adress_form %}
                                      <tr>
                                          <td width="10%" align="left" valign="middle">&nbsp;</td>
                                          <td width="10%" align="left" valign="middle" class="black12">{{field.label_tag}}</td>
                                          <td width="0%" align="left" valign="middle" class="black12">:</td>
                                          <td width="70%" align="left" valign="middle"><span id="sprytextfield1">
                                            <label>
                                              {{field}}                                        
                                            </label>
                                            <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                          <td width="5%" align="left" valign="middle">&nbsp;</td>
                                      </tr>
                                      {% endfor %}
                                      
                                  </tbody></table>
                                </fieldset>
                            </td>
                              </tr>
                              
                          </tbody>
                        </table>
                          
                          </div>
                        </div>

                     
                          <div id="success">
                            <div class="mt-5">
                             
                                
                            </div>
                        </div>
              
                          <div class="step d-none">
                            <div class="mt-1">
                              <div class="closing-text">
                                <input type="hidden" value="{{group.title_en}}" name="admission_group">

                                  <h4>Are you sure to continue?? </h4>
                                  <p>After clicking on submit button, You can't edit informations</p>
                                  <p>Click on the submit button to continue.</p>
                              </div>
                          </div>
                      </div>
                      
                      
                  </div>
                      <div id="q-box__buttons" >
                        <button id="prev-btn" type="button" class="d-inline-block">Previous</button> 
                        <button id="next-btn" type="button" class="d-inline-block">Next</button> 
                        <button id="submit-btn" type="submit" class="d-none">Submit</button>
                    </div>   
              </div>
              
            </form>

            <div id="download_form_id">
              <div class="mt-5">

                <form id="form_download_id" method="post" action="{% url 'form-download' %}" target="_blank" >
                  {% csrf_token %}
                <input type="hidden" value="" id="student_id" name="student_id">
                <div id="q-box__buttons" >

                  <button type="submit" id="btn_admission_form" style="width:300px;">Download Admission form</button>
                  </div>
                </form>
                  <a style="margin-top: 20px; margin-bottom: 20px; margin-left: 10%;" class="back-link" href="{% url 'choice-certificate'%}">Go back from the beginning ➜</a>
              </div>
          </div>

          </div>
      </div>
  </div>
  <!-- PRELOADER -->
  <div id="preloader-wrapper">
    <div id="preloader"></div>
    <div class="preloader-section section-left"></div>
    <div class="preloader-section section-right"></div>
</div>
  
                      
                 
    <div id="toast-container" class="toast-top-center" aria-level="polite" role="alert">
      <div class="toast toast-error" ><button class="toast-close-button" role="button">&#10006;</button>
          <div class="toast-message" >দুঃখিত! লাল চিহ্নিত বক্সে সঠিক তথ্য দিতে হবে</div></div>
  </div>


  <script>
          
          
            




const progress = (value) => {
   document.getElementsByClassName('progress-bar')[0].style.width = `${value}%`;
}

   let step = document.getElementsByClassName('step');
   let prevBtn = document.getElementById('prev-btn');
   let nextBtn = document.getElementById('next-btn');
   let submitBtn = document.getElementById('submit-btn');
   let form = document.getElementsByTagName('form')[0];
   let preloader = document.getElementById('preloader-wrapper');
   let bodyElement = document.querySelector('body');
   let succcessDiv = document.getElementById('success');
   let downloadDiv = document.getElementById('downlod_form_id');

   //form.onsubmit = () => { return false }

   let current_step = 0;
   let stepCount = 2;
   step[current_step].classList.add('d-block');
   if(current_step == 0){
      prevBtn.classList.add('d-none');
      submitBtn.classList.add('d-none');
      nextBtn.classList.add('d-inline-block');
   }


   nextBtn.addEventListener('click', () => {
    var x, y, i, valid = true;
    


          //document.getElementById('toast-container').style.visibility ='hidden';
      current_step++;
      let previous_step = current_step - 1;
      let flag=validateForm();
      if(( current_step > 0) && (current_step <= stepCount) && flag){
        prevBtn.classList.remove('d-none');
        prevBtn.classList.add('d-inline-block');
        step[current_step].classList.remove('d-none');
        step[current_step].classList.add('d-block');
        step[previous_step].classList.remove('d-block');
        step[previous_step].classList.add('d-none');
        if (current_step == stepCount){
          submitBtn.classList.remove('d-none');
          submitBtn.classList.add('d-inline-block');
          nextBtn.classList.remove('d-inline-block');
          nextBtn.classList.add('d-none');
        }
      } else {
        if(current_step > stepCount){
            form.onsubmit = () => { return true }
        }
      }
    progress((100 / stepCount) * current_step);
    function validateForm() {
      // This function deals with validation of the form fields
    
      
      x = document.getElementsByClassName("step d-block");
      //alert(current_step);
   
      y = x[0].getElementsByTagName("input");
      z= x[0].getElementsByTagName("select");

      for (i = 0; i < y.length; i++) {
        // If a field is empty...
         //alert(y[i]+y[i].required);
   //alert(y[i].getAttribute('id')+": "+y[i].hasAttribute('required'));
   
        if (y[i].value == '' && y[i].hasAttribute('required') ) {
   

            y[i].className='textfieldUSERinfoInvalid';
          
          valid = false;
   
        }
      }
      
      for (i = 0; i < z.length; i++) {
         // If a field is empty...
   
         if (z[i].value == '' && z[i].hasAttribute('required') ) {
            //alert(z[i].getAttribute('id')+": "+z[i].hasAttribute('required'));
   
           if(z[i].className=='textfieldUSER')
             z[i].className='textfieldUSERInvalid';
          else
            z[i].className='textfieldUSERinfoInvalid';
            
           valid = false;
   
         }
       }
      //alert("valid:"+valid);
      if(!valid){
         current_step--;
         var x = document.getElementById("toast-container");

  // Add the "show" class to DIV
      x.className = "show";

  // After 3 seconds, remove the show class from DIV
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 11000);
      
         /*var x = document.getElementById("toast-container");
                   x.className = "toast-top-center";
                   x.style.visibility ="visible";

                   setTimeout(function(){ 
                       x.className = x.className.replace("toast-top-center","");
                       x.style.visibility ="hidden";

                       
                    }, 8000);*/
                    
   
      }
       return valid; // return the valid status
   }
   
   
   
       });
       
   

   prevBtn.addEventListener('click', () => {
     if(current_step > 0){
        current_step--;
        let previous_step = current_step + 1; 
        prevBtn.classList.add('d-none');
        prevBtn.classList.add('d-inline-block');
        step[current_step].classList.remove('d-none');
        step[current_step].classList.add('d-block')
        step[previous_step].classList.remove('d-block');
        step[previous_step].classList.add('d-none');
        if(current_step < stepCount){
           submitBtn.classList.remove('d-inline-block');
           submitBtn.classList.add('d-none');
           nextBtn.classList.remove('d-none');
           nextBtn.classList.add('d-inline-block');
           prevBtn.classList.remove('d-none');
           prevBtn.classList.add('d-inline-block');
        } 
     }

     if(current_step == 0){
        prevBtn.classList.remove('d-inline-block');
        prevBtn.classList.add('d-none');
     }
    progress((100 / stepCount) * current_step);
   });


/*submitBtn.addEventListener('click', () => {
    //preloader.classList.add('d-block');

     ///////////////////Submit student form Ajax code///////////////////

     var frm = $('#form-wrapper')[0];
     var form= new FormData(frm);

     var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

     // Get the data from the form
    

     // Send AJAX request
     $.ajax({
         enctype: 'multipart/form-data',
         type: 'POST',
         url: "{% url 'admission_form_submit' %}",  // Adjust the URL as per your project structure
         data: form1,
         headers: {
             'X-CSRFToken': csrfToken
         },
         
         cache:false,
         processData:false,
         contentType:false,
        
         success: function (response) {
             
             //document.getElementById("student_form").reset();
             if (response.status === 'success') {
                 // Clear the form
                
                alert(response.status);


             } else {
              alert("Success message not found");
                     
                 }
                 
         },
         error: function (xhr, status, error) {
            
             var err = eval("(" + xhr.responseText + ")");
             alert(err.Message);
         }
     });


    //////////////////////////////////////////////////////////////////
    const timer = ms => new Promise(res => setTimeout(res, ms));

    timer(3000)
      .then(() => {
           bodyElement.classList.add('loaded');
      }).then(() =>{
          step[stepCount].classList.remove('d-block');
          step[stepCount].classList.add('d-none');
          prevBtn.classList.remove('d-inline-block');
          prevBtn.classList.add('d-none');
          submitBtn.classList.remove('d-inline-block');
          submitBtn.classList.add('d-none');
          succcessDiv.classList.remove('d-none');
          succcessDiv.classList.add('d-block');
      })
      
});*/




</script>
<script>
    $(document).ready(function () {
            
            $('#1submit-btn').on('click', function () {
            
            preloader.classList.add('d-block');
            var frm = $('#form-wrapper')[0];
            var form= new FormData(frm);
       
            var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
            //alert("hi");

            // Get the data from the form
           
       
            // Send AJAX request
            $.ajax({
                enctype: 'multipart/form-data',
                type: 'POST',
                url: "{% url 'payfor-certificate' %}",  // Adjust the URL as per your project structure
                data: form,
                headers: {
                    'X-CSRFToken': csrfToken
                },
                
                cache:false,
                processData:false,
                contentType:false,
               
                success: function (response) {
                    
                    //document.getElementById("student_form").reset();
                    if (response.status === 'success') {
                        // Clear the form
                        //alert(response.student)
                       $('#student_id').val(response.student);
                       //alert(response.status);
       
       
                    } else {
                     ///alert("Success message not found");
                            
                        }
                        
                },
                error: function (xhr, status, error) {
                   
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                }
            });
       
       
           //////////////////////////////////////////////////////////////////
           const timer = ms => new Promise(res => setTimeout(res, ms));
       
           timer(3000)
             .then(() => {
                  bodyElement.classList.add('loaded');
             }).then(() =>{

                 step[stepCount].classList.remove('d-block');
                 step[stepCount].classList.add('d-none');
                 prevBtn.classList.remove('d-inline-block');
                 prevBtn.classList.add('d-none');
                 submitBtn.classList.remove('d-inline-block');
                 submitBtn.classList.add('d-none');
                 succcessDiv.classList.remove('d-none');
                 succcessDiv.classList.add('d-block');
                 $('#download_form_id').attr('class','d-block')
                 
             })
            
            });
////////////////////Submit for admission form download/////////////////////

           

          });
        </script>
        
    
    {% endblock %}