{% load static %}
<script>
    function printDiv(printableArea) {
        
        var printContents = document.getElementById("printableArea").innerHTML;
        var originalContents = document.body.innerHTML;
   
        document.body.innerHTML = printContents;
   
        window.print();
   
        document.body.innerHTML = originalContents;
   }
</script>
<div class="officerlist list">
   
<h3 class="title">
    {%if navitem_name %}
    {{navitem_name}} --> {{navelement_head}} --> {{heading}}
    {% endif %}
    {%if servicebox_title %}
    {{servicebox_title}}/{{heading}}
    {% endif %}

    <div style="float:right;" id="print_btn_div"><img src="{% static 'images/print_btn.png' %} " style="cursor: pointer;" onclick="printDiv(printableArea);" width="24" title="প্রিন্ট" alt="print_btn"></div>
</h3>

<br><div class="table-responsive chbappy1" cellpadding="10px" id="printableArea">
    <table id="dataTable" class="table table-bordered" style="text-align: center;">
                    <thead><tr><th scope="col">#</th>
                        <th scope="">ছবি</th>
                        <th scope="">শিরোনাম</th>
                        <th scope="">পদবি</th>
                        <th scope="">ই-মেইল</th>
                        <th scope="">মোবাইল নং</th>
                        <th scope="">ব্যাচ (বিসিএস)</th>
                      </tr></thead>
                      
                      <tbody>
                    
                     {% for teacher in teachers%}
                        <tr><th>{{ forloop.counter }}</th>
                                                        <td class="">
                        <img src="{%if teacher.image %}{{ teacher.image.url }}{% else %}https://www.files.ictparkbd.com/media/unnamed_feuOxUZ.jpg{% endif %}" width="100" height="100" alt=""></td>

                                                                                  <td class="text">            
                                                    <a href="">{{teacher.t_name_bangla}}</a>
                                                  </td>

                                                  
                                                  {% if teacher.position in 'উপাধ্যক্ষ' or teacher.position in 'অধ্যক্ষ' %}
                                                  <td class="col-1" style="font-size: 14px">{{teacher.position}}</td>
                                                  {% else %}
                                                  <td class="col-1" style="font-size: 14px">{{teacher.designation}}</td>
                                                  {% endif %}
                                                    

                                                                                  
                                                       

                                                        <td class="" style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
                        <a href="mailto:{{teacher.t_email}}">{{teacher.t_email}}</a>
                    </td>

                                                        <td class="">
                        <a href="tel:{{teacher.t_phone}} ">
                            <!-- ০১৭৩৩৩৩৫৪০৪ -->
                            {{teacher.t_phone}}                        </a>
                    </td>

                        

                                                        <td class="">
                            <!-- 31 -->
                            {{teacher.batch}}                     
                        </td>

                        </tr>
                        {% endfor %}

                    </tbody></table></div>

<div class="content-type-footer">
<div class="left pagination">
    <ul class="pagination"><li class="disabled"><span>Previous</span></li>

                <li><a href="?page=2" rel="next">Next</a>
        </li>
        </ul></div>
</div>

</div>
