<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 mt-5">
            <div class="card" style="width:700px">
                <div class="card-horizontal" >
                    <div class="img-square-wrapper">
                    <img class="" width="250px" height="200px" src="{%if teacher.image %}{{ teacher.image.url }}{% else %}https://www.files.ictparkbd.com/media/unnamed_feuOxUZ.jpg{% endif %}" alt="Card image cap"></div>
                    <div class="card-body">
                        {% if request.session.lang == 'english' %}
                        <h4 class="card-title" style="text-align: center;">
                            {{teacher.t_name}}
                                </h4>
                                <p style="text-align: center;">

                                {% for position in teacher.position.all %}

                                {{position.title_en}}                                 

                                {% endfor %}
                                    
                                </p>
                                <hr>
                                <div class="card-text">

                                <p style="text-align: center;">
                                    <b>Mobile No. </b> : 
                                    <!-- ০১৭১৩২০২৪৫৫, ০১৭৩৩৩৩৫৪০১ (অফিসিয়াল) -->
                                    {{teacher.t_phone}}
                                    (Official)
                                </p>

                                    <p style="text-align: center;">
                                        <b>Phone: </b> : 
                                        <!-- ০২৫৮৯৯০০০২০ (অফিস) ০২৫৮৯৯০০০২১ (বাংলো) -->
                                                                            ০51-65375 (Office) 
                                    </p>

                                    <p style="text-align: center;">
                                        <b>Email: </b> : 
                                        {{teacher.t_email}}
                                    </p>

                                                                <p style="text-align: center;">
                                        <b>Batch (BCS) </b> : 
                                        <!-- 24 -->
                                        {{teacher.batch.title_en}}

                                    </p>

                                                                <p style="text-align: center;"><b>Joining Date in current workplace: </b> : 
                                        <!-- 09-12-2024 -->
                                                                                                                                                                                                                                                                                                    <span class="day">১২</span>
                                        <span >
                                            {{teacher.joining_date}}
                                        </span>
                                    </p>

                                </div>                                    {% else %}

                                    <h4 class="card-title" style="text-align: center;">
                                        {{teacher.t_name_bangla}}
                                        </h4>
                                        <p style="text-align: center;">
                                            
                                            {% for position in teacher.position.all %}
                                            
                                            {{position.title}}                                 

                                            {% endfor %}
                                                
                                        </p>
                                        <hr>
                                        <div class="card-text">

                                            <p style="text-align: center;">
                                                <b>মোবাইল নং</b> : 
                                                <!-- ০১৭১৩২০২৪৫৫, ০১৭৩৩৩৩৫৪০১ (অফিসিয়াল) -->
                                                {{teacher.t_phone}}
                                                (অফিসিয়াল)
                                            </p>

                                                <p style="text-align: center;">
                                                    <b>ফোন (অফিস)</b> : 
                                                    <!-- ০২৫৮৯৯০০০২০ (অফিস) ০২৫৮৯৯০০০২১ (বাংলো) -->
                                                                                        ০51-65375 (অফিস) 
                                                </p>

                                                <p style="text-align: center;">
                                                    <b>ই-মেইল</b> : 
                                                    {{teacher.t_email}}
                                                </p>

                                                                            <p style="text-align: center;">
                                                    <b>ব্যাচ (বিসিএস) </b> : 
                                                    <!-- 24 -->
                                                    {{teacher.batch}}

                                                </p>

                                                                            <p style="text-align: center;"><b>বর্তমান কর্মস্থলে যোগদানের তারিখ</b> : 
                                                    <!-- 09-12-2024 -->
                                                                                                                                                                                                                                                                                                                <span class="day">১২</span>
                                                    <span >
                                                        {{teacher.joining_date}}
                                                    </span>
                                                </p>

                                        </div>

                                    {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

