{% load static %}
{% load my_filter %}
<style>
   
    @media{
      #img{
        width:100px;
    }
    td{
        min-width:100px;
    }
    }
</style>
<script>
    function printDiv(printableArea) {
        
        var printContents = document.getElementById("printableArea").innerHTML;
        var originalContents = document.body.innerHTML;
   
        document.body.innerHTML = printContents;
   
        window.print();
   
        document.body.innerHTML = originalContents;
   }
</script>
<div class="officerlist list">
   
<h3 class="title">
    {% if request.session.lang == 'english' %}

    {%if navitem_name %}
    {{navitem.name_en}} --> {{navelement.head_en}} --> {{page.heading_en}}
    {% elif service_box %}
    {{service_box.title_en}}/{{page.heading_en}}
    {% else %}
    All Posts and Occupied Posts
    {% endif %}
    {% else %}
    {%if navitem_name %}
    {{navitem.name}} --> {{navelement.head}} --> {{page.heading}}
    {% elif service_box %}
    {{service_box.title}}/{{page.heading}}
    {% else %}
    মোট পদ ও অধিষ্ঠিত পদ তালিকা
    {% endif %}

    {% endif %}

    <div style="float:right;" id="print_btn_div"><img src="{% static 'images/print_btn.png' %} " style="cursor: pointer;" onclick="printDiv(printableArea);"  width="24" title="প্রিন্ট" alt="print_btn"></div>
</h3>

<br><div class="table-responsive chbappy1" cellpadding="10px" id="printableArea">
    <table id="Table" class="table table-bordered" style="text-align: center; padding: 50px;">
                    <thead><tr><th scope="col">#</th>
                        {% if request.session.lang == 'english' %}
                        <th >Image</th>
                        <th scope="">Name</th>
                        <th scope="">Designation</th>
                        <th scope="">Email</th>
                        <th scope="">Mobile No.</th>
                        <th scope="">BCS Batch</th>
                        {% else %}
                        <th >ছবি</th>
                        <th scope="">শিরোনাম</th>
                        <th scope="">পদবি</th>
                        <th scope="">ই-মেইল</th>
                        <th scope="">মোবাইল নং</th>
                        <th scope="">ব্যাচ (বিসিএস)</th>
                        {% endif %}
                        
                                              </tr></thead>
                      
                      <tbody>
                        <tr> 
                            {% if request.session.lang == 'english' %}
                                                      <th colspan="7"  style="font-size: 14px;text-align: center;">{{principal.position.all.first.title_en}}</th>
                                                      {% else %}
                                                    <th  colspan="7" style="font-size: 14px;text-align: center;">{{principal.position.all.first.title}}</th>
                                                    {% endif %}
                                 
                        </tr>
                        <tr><th>
                            {{ 1 }}                        

                        </th>
                                                            <td >
                            <img id="img" src="{%if principal.image %}{{ principal.image.url }}{% else %}{% static 'images/no_image.jpeg' %}{% endif %}"  alt="Principal"></td>
    
                                                     <td class="text">
                                                                                        {% if request.session.lang == 'english' %}
                                                                                        <a href="{% if principal %}{% url 'teacher_details' principal.id %}{% endif %}">{{principal.t_name}}</a>
                                                                                        {% else %}
                                                                                        <a href="{% if principal %}{% url 'teacher_details' principal.id %}{% endif %}">{{principal.t_name_bangla}}</a>
                                                                                        {% endif %}          
                                                      </td>
    
                                                        
                                                      {% if request.session.lang == 'english' %}
                                                      <td class="text" style="font-size: 14px">{{principal.position.all.first.title_en}}</td>
                                                      {% else %}
                                                    <td class="text" style="font-size: 14px">{{principal.position.all.first.title}}</td>
                                                    {% endif %}
                                                        
    
                                                                                      
                                                           
    
                                                            <td class="text" style="word-wrap: break-word;">
                            {{principal.t_email}}
                        </td>
    
                                                            <td class="text">
                                <!-- ০১৭৩৩৩৩৫৪০৪ -->
                                {{principal.t_phone}}                        
                        </td>
    
                            
    
                                                            <td class="text">
                                <!-- 31 -->
                                {% if request.session.lang == 'english' %}
                                {{principal.batch.title_en}}
                                {% else %}
                                        {{principal.batch.title}}
                                        {% endif %}                    
                            </td>
    
                            </tr>
                            <tr> 
                                    
                                    {% if request.session.lang == 'english' %}
                                                      <th colspan="7"  style="font-size: 14px;text-align: center;">Vice Principal</th>
                                                      {% else %}
                                                    <th  colspan="7" style="font-size: 14px;text-align: center;">উপাধ্যক্ষ</th>
                                                    {% endif %}
                                        
        
                                
                            </tr>
                        <tr>
                        
                        
                     <th>
                            {{ 2 }}                        

                        </th>
                                                            <td >
                                                                {%if vice_principal.image %}
                            <img id="img" src="{{ vice_principal.image.url }}"  alt="">
                            {% endif %}
                        </td>
    
                                                     <td class="text">
                                                                                        {% if request.session.lang == 'english' %}
                                                                                        <a href="{% if vice_principal %}{% url 'teacher_details' vice_principal.id %}{% endif %}">{{vice_principal.t_name}}</a>
                                                                                        {% else %}
                                                                                        <a href="{% if vice_principal %}{% url 'teacher_details' vice_principal.id %}{% endif %}">{{vice_principal.t_name_bangla}}</a>
                                                                                        {% endif %}          
                                                      </td>
    
                                                        
                                                      {% if request.session.lang == 'english' %}
                                                      <td class="text" style="font-size: 14px">{{vice_principal.position.all.first.title_en}}</td>
                                                      {% else %}
                                                    <td class="text" style="font-size: 14px">{{vice_principal.position.all.first.title}}</td>
                                                    {% endif %}
                                                        
    
                                                                                      
                                                           
    
                                                            <td class="text" style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
                            {{vice_principal.t_email}}
                        </td>
    
                                                            <td class="text">
                            
                                <!-- ০১৭৩৩৩৩৫৪০৪ -->
                                {{vice_principal.t_phone}}                       
                        </td>
    
                            
    
                                                            <td class="text">
                                <!-- 31 -->
                                {% if request.session.lang == 'english' %}
                                {{vice_principal.batch.title_en}}
                                {% else %}
                                        {{vice_principal.batch.title}}
                                        {% endif %}                    
                            </td>
    
                            </tr>
                             
                     {% for teacher in teachers%}
                    

                    
                    {% if teacher.position.all.first.title_en == 'Principal' or teacher.position.all.first.title_en == 'Vice Principal'  %}
                    <tr> 
                        <th colspan="7" style="text-align: center;">

                            {{teacher.position.all.first.title}}

                        </th>
                    </tr>                    
                    {% else %}
                        {% with previous_element=teachers|previous:forloop.counter0 %}
                     
                            {% if previous_element.position.all.first.title_en == 'Principal' or teacher.position.all.first.title_en == 'Vice Principal'  %}
                                
                                <tr> 
                                    <th colspan="7" style="text-align: center;">

                                        {{teacher.t_department.name}}

                                    </th>
                                </tr>                                
                            {% else %}
                                            {% if previous_element.t_department.name != teacher.t_department.name  %}
                                            <tr> 
                                                <th colspan="7" style="text-align: center;">
                                                    {% if request.session.lang == 'english' %}
                                                    Department of {{teacher.t_department.name_en}} <br>(
                                                    
                                                    {% for dept in department%}
                                                    
                                                    {% if dept.name_en == teacher.t_department.name_en %}
                                                            {%if dept.professor != 0 %}
                                                                Professor:&nbsp{{dept.professor}},
                                                            {% endif %}
                                                            {% if dept.associate_professor != 0 %}
                                                                Associate Professor:&nbsp{{dept.associate_professor}},
                                                            {% endif %}
                                                            {% if dept.assistant_professor != 0 %}
                                                                Assistant Professor:&nbsp{{dept.assistant_professor}},
                                                            {% endif %}
                                                            {% if dept.lecturer != 0 %}
                                                                Lecturer:&nbsp{{dept.lecturer}} )
                                                            {% endif %}
                                                    {%endif %}
                                                    
                                                    {% endfor %}
                                                    
                                                    {% else %}
                                                    {{teacher.t_department.name}} বিভাগ <br>(
                                                    
                                                    {% for dept in department%}
                                                    {% if dept.name_en == teacher.t_department.name_en %}
                                                    {% if dept.professor != 0 %}
                                                    প্রফেসর:&nbsp{{dept.professor}},
                                                    {% endif %}
                                                    {% if dept.associate_professor != 0 %}
                                                    সহযোগী অধ্যাপক: &nbsp{{dept.associate_professor}},
                                                    {% endif %}
                                                    {% if dept.assistant_professor != 0 %}
                                                    সহকারী অধ্যাপক: &nbsp{{dept.assistant_professor}},
                                                    {% endif %}
                                                    {% if dept.lecturer != 0 %}
                                                    প্রভাষক: &nbsp{{dept.lecturer}} ) 
                                                    {% endif %}
                                                    {%endif %}
                                                    {% endfor %}
                                                    {% endif %}

                                                </th>
                                            </tr> 
                                            {% endif %}
                            {% endif %}
                                
                    
                        {% endwith %}
                    {% endif %}
    
                    
                     <tr><th>
                        {% with counter=teachers|counter_next:forloop.counter0 %}
                        {{ counter }} 
                        {% endwith %}                       

                    </th>
                                                        <td>
                        <img id="img" src="{%if teacher.image %}{{ teacher.image.url }}{% else %}{% static 'images/no_image.jpeg' %}{% endif %}" alt=""></td>

                                                 <td class="text">
                                                                                    {% if request.session.lang == 'english' %}
                                                                                    <a href="{% if teacher %}{% url 'teacher_details' teacher.id %}{% endif %}">{{teacher.t_name}}</a>
                                                                                    {% else %}
                                                                                    <a href="{% if teacher %}{% url 'teacher_details' teacher.id %}{% endif %}">{{teacher.t_name_bangla}}</a>
                                                                                    {% endif %}          
                                                  </td>

                                                    
                                                  {% if teacher.position.all.first.title_en == 'Principal' or teacher.position.all.first.title_en == "Vice Principal"  %}
                                                  {% if request.session.lang == 'english' %}
                                                  <td class="text" style="font-size: 14px">{{teacher.position.all.first.title_en}}</td>
                                                  {% else %}
                                                <td class="text" style="font-size: 14px">{{teacher.position.all.first.title}}</td>
                                                {% endif %}
                                                  {% else %}
                                                  {% if request.session.lang == 'english' %}
                                                  <td class="text" style="font-size: 14px">{{teacher.designation.title_en}}</td>
                                                  {% else %}
                                                    <td class="text" style="font-size: 14px">{{teacher.designation.title}}</td>
                                                    {% endif %}            
                                                {% endif %}
                                                    

                                                                                  
                                                       

                                                        <td class="text" style="word-wrap: break-word;">
                        {{teacher.t_email}}
                    </td>

                                                        <td class="text">
                            <!-- ০১৭৩৩৩৩৫৪০৪ -->
                            {{teacher.t_phone}}                        
                    </td>

                        

                                                        <td class="text">
                            <!-- 31 -->
                            {% if request.session.lang == 'english' %}
                            {{teacher.batch.title_en}}
                            {% else %}
                                    {{teacher.batch.title}}
                                    {% endif %}                    
                        </td>

                        </tr>
                        {% endfor %}

                    </tbody></table></div>

<div class="content-type-footer">

</div>

</div>
