{% extends 'basepage/govtlayout.html' %}

{% block content %} 
{% load static %}
<style>
    .col-md-6{
        margin-bottom: 20px;

    }
    @media(max-width: 576px) {
        .col-md-6{
            margin-bottom: 10px;
    
        }
    }
</style>

 



 <div class="container home-page" >
    <div class="row"  >
        <div class="col">
            
<!--Top Menu -->               
{% include 'component/topbar.html' %}
<!--Top Menu -->               


            
        
                


 <style>
 #site-info {
    clear: both;
    padding: 10px 0 10px 5px;
    background-color: #683091;
    display: none;
 
}
@media(max-width:786px){
    #site-info {
        clear: both;
        padding: 10px 0 10px 5px;
        background-color: #683091;
        display: block;
    }
  
}
</style>
<!--
 <div id="site-info" class="clearfix">

				

    <div id="sitelogo">
        <div id="logo">
            <a title="" href="{% url 'home' %}">
                <img width="100px" alt="GMRWC logo" src="{% static 'images/gmrwc_logo.png' %}">
            </a>
        </div>
        <div style="float: center;" class="clearfix" id="sitename-wrapper">
        
            <span id="site-name"><a style="text-align: center;" title="সরকারি মুজিবুর রহমান মহিলা কলেজ, বগুড়া<" href="/">সরকারি মুজিবুর রহমান মহিলা কলেজ, বগুড়া</a></span>
            <span id="slogan" style="text-align: center;">স্থাপিতঃ ১৯৬৩</span>
        </div>
    </div>

</div>-->

<style>
    
    @media(max-width: 786px){
        #banner-slider{
            position: relative;
            margin-top: 20%;
        }#founder{
            width: 100px;
            height: 100px;
        }
        
    }
</style>
<div id="banner-slider" >
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
            
        <div class="carousel-item  w-100 active">
            <a title="" href="{%static 'images/college_gate.jpg'%}">
             <!--<img style="height: 242px;" src="//file-rajshahi.portal.gov.bd/uploads/f5258379-edf7-4f4a-9306-d58f03afca06//618/b45/7ab/618b457abacd7498109935.jpg" class="d-block w-100" alt="ক্ষুদ্র ও মাঝারি শিল্পে সমৃদ্ধ বগুড়া জেলা"> -->
            <img style="height: 242px;" src="{%static 'images/college_gate.jpg'%}" class="d-block w-100" alt="mujibur rahman women's college" lazy="loading">
            </a>
        </div>

                                
                                      <!-- Expensive or dynamic content here -->
      {% for carousel in carousels %}      
      <div class="carousel-item  w-100">
          <a title="" href="{{ carousel.cimage.url }}">
          <!-- <img style="height: 242px;" src="//file-rajshahi.portal.gov.bd/files/www.bogra.gov.bd/top_banner/c988406c_3ca2_4f44_90bc_cedc47530830/14572f4000cd37952441124eadfa0c18.png" class="d-block w-100" alt="বগুড়া জেলা ব্র্যান্ডিং"> -->
          <img style="height: 242px;" src="{{ carousel.cimage.url }}" class="d-block w-100" alt="বগুড়া" load="lazy">
          </a>
      </div>
     {% endfor %}        
                                  <!-- //file-rajshahi.portal.gov.bd/uploads/f5258379-edf7-4f4a-9306-d58f03afca06//618/b46/6f2/618b466f2634c119530378.jpg -->

                                                               

            
    </div>
  </div>
  <!--/carousel-->
  
  </div>

{% include 'component/plainheader.html' %}

            
        
{% include 'component/navbar.html' %}          
      
                <div id="skip-main-content-start-here" style="opacity:0;font-size:1px;">Main Comtent Skiped</div>
          
 <!--- DELETED DIVS                
            </div>     
        </div>
    </div>
</div>

--> 


     <!-- <div class="row" >
        <div class="col">
            <div id="flash">
               
            </div>
        </div>
             </div> -->
    
     <div class="row" >
            <div class="col-md-9">
               <div id="left">
                  <div class="d-flex justify-content-end">
                       <button class="mb-2 btn btn-outline-warning  btn-sm outline-none shadow-none text-right d-none" onclick="window.print()"><i class="fa fa-print" aria-hidden="true"></i></button>
                  </div>
                   <div id="flash">
<!--get & set site layer_id -->
    <!--5-->
       {%include 'component/front_button.html'%}

   {%include 'component/notice.html'%}
<!-- jQuery.simpleTicker.js start --><!-- <link href="//www.jqueryscript.net/demo/HTML-List-Based-Scroller-Ticker-Plugin-jQuery-simpleTicker/jquery.simpleTicker.css" rel="stylesheet"> --><!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> --><!-- <script src="//www.jqueryscript.net/demo/HTML-List-Based-Scroller-Ticker-Plugin-jQuery-simpleTicker/jquery.simpleTicker.js"></script> --><!-- jQuery.simpleTicker.js end -->

<!-- <script>
//Set the animation you want to use. Available animation types
$(function(){
  $.simpleTicker($("#ticker-fade"),{'effectType':'fade'});
  $.simpleTicker($("#ticker-roll"),{'effectType':'roll'});
  $.simpleTicker($("#ticker-slide"),{'effectType':'slide'});
  $.simpleTicker($("#ticker-one-item"),{'effectType':'fade'});
});

//Config the animation
$.simpleTicker($("#demo"),{
  speed : 1000,
  delay : 3000,
  easing : 'swing',
  effectType : 'slide'
});
</script> -->
<div class="row service-row">
    
    {% if request.session.lang == 'english' %}
    {% for service_box in service_boxes%}
    <hr><hr>

       <div class="col-md-6" >
      <div class="service-box box">
        <!--  -->
        <h4 >{{service_box.title_en}}</h4>
        <!-- <h4 style="color: ">আমাদের সম্পর্কে</h4> -->
         <img src="{% if service_box.image %}{{service_box.image.url}}{% else %}{%static 'images/gmrwc_logo.png' %}{% endif %}" alt="আমাদের সম্পর্কে" width="110" style="max-width:700px;"><ul class="caption fade-caption" style="margin:0"><!-- {
"link": "\/site\/officer_list\/\u09ae\u09cb\u0983-\u09b8\u09be\u0987\u09ab\u09c1\u09b2-\u0987\u09b8\u09b2\u09be\u09ae",
"caption": {
    "bn": "\u099c\u09c7\u09b2\u09be \u09aa\u09cd\u09b0\u09b6\u09be\u09b8\u0995",
    "en": "Deputy Commissioner"
}
} -->
 <ul>
            {% for page in service_box.element.all %}
            <li>
                <i class="text-green fa fa-caret-right"></i>
                <a href="{% url 'showpage_servicebox_item' service_box.id service_box.title_en page page.id  %}" title="জেলা প্রশাসক"> 
                {{page.heading_en}}                
                </a>
            </li>
            {% endfor %}
            
         </ul></div>
   </div>
   {% endfor%}
        
    {% else %}
    {% for service_box in service_boxes%}
    <hr><hr>

       <div class="col-md-6" >
      <div class="service-box box">
        <!--  -->
        <h4 >{{service_box.title}}</h4>
        <!-- <h4 style="color: ">আমাদের সম্পর্কে</h4> -->
         <img src="{% if service_box.image %}{{service_box.image.url}}{% else %}{%static 'images/gmrwc_logo.png' %}{% endif %}" alt="আমাদের সম্পর্কে" width="110" style="max-width:700px;"><ul class="caption fade-caption" style="margin:0"><!-- {
"link": "\/site\/officer_list\/\u09ae\u09cb\u0983-\u09b8\u09be\u0987\u09ab\u09c1\u09b2-\u0987\u09b8\u09b2\u09be\u09ae",
"caption": {
    "bn": "\u099c\u09c7\u09b2\u09be \u09aa\u09cd\u09b0\u09b6\u09be\u09b8\u0995",
    "en": "Deputy Commissioner"
}
} -->
 <ul>
            {% for page in service_box.element.all %}
            <li>
                <i class="text-green fa fa-caret-right"></i>
                <a href="{% url 'showpage_servicebox_item' service_box.id service_box.title_en page page.id  %}" title="জেলা প্রশাসক"> 
                {{page.heading}}                
                </a>
            </li>
            {% endfor %}
            
         </ul></div>
   </div>
   {% endfor%}
 <div class="col-md-6">
                <div class="service-box box">
                  <!--  -->
                  <h4 >জরুরি সেবা</h4>
                  <!-- <h4 style="color: ">জরুরি সেবা</h4> -->
                   <img src="//file-rajshahi.portal.gov.bd/files/bogra.gov.bd/front_service_box/0924ac1a_ae30_4802_9246_8770aeae69a0/b602b76bbda63674b6d8013adb998260.png" alt="জরুরি সেবা" width="110" style="max-width:700px;"><ul class="caption fade-caption" style="margin:0"><!-- {
          "link": "site\/page\/acHu-\u09ab\u09cb\u09a8\u09c7-\u09b8\u0995\u09b2-\u09a4\u09a5\u09cd\u09af-\u099c\u09be\u09a8\u09c1\u09a8",
          "caption": {
              "en": "Find all the information on phone",
              "bn": "\u09ab\u09cb\u09a8\u09c7 \u09b8\u0995\u09b2 \u09a4\u09a5\u09cd\u09af \u099c\u09be\u09a8\u09c1\u09a8 "
          }
          } --><li>
                          <i class="text-green fa fa-caret-right"></i>
                          <a href="https://www.bogra.gov.bd/bn/site/page/acHu-%E0%A6%AB%E0%A7%8B%E0%A6%A8%E0%A7%87-%E0%A6%B8%E0%A6%95%E0%A6%B2-%E0%A6%A4%E0%A6%A5%E0%A7%8D%E0%A6%AF-%E0%A6%9C%E0%A6%BE%E0%A6%A8%E0%A7%81%E0%A6%A8" title="ফোনে সকল তথ্য জানুন "> 
                              ফোনে সকল তথ্য জানুন 
                          </a>
                      </li>
                      <li>
                          <i class="text-green fa fa-caret-right"></i>
                          <a href="https://www.bogra.gov.bd/bn/site/page/2tbG-%E0%A6%AB%E0%A7%8B%E0%A6%A8%E0%A7%87-%E0%A6%AA%E0%A7%81%E0%A6%B2%E0%A6%BF%E0%A6%B6%E0%A6%BF-%E0%A6%B8%E0%A6%B9%E0%A6%BE%E0%A7%9F%E0%A6%A4%E0%A6%BE" title="ফোনে পুলিশি সহায়তা ">
                              ফোনে পুলিশি সহায়তা 
                          </a>
                      </li>
                      <li>
                          <i class="text-green fa fa-caret-right"></i>
                          <a href="https://www.bogra.gov.bd/bn/site/page/Pufl-%E0%A6%A8%E0%A6%BE%E0%A6%B0%E0%A7%80-%E0%A6%93-%E0%A6%B6%E0%A6%BF%E0%A6%B6%E0%A7%81-%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%A4%E0%A6%A8-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%A4%E0%A6%BF%E0%A6%B0%E0%A7%8B%E0%A6%A7%E0%A7%87-%E0%A6%A8%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%B6%E0%A6%A8%E0%A6%BE%E0%A6%B2-%E0%A6%9F%E0%A7%8B%E0%A6%B2%E0%A6%AB%E0%A7%8D%E0%A6%B0%E0%A6%BF-%E0%A6%B9%E0%A7%87%E0%A6%B2%E0%A7%8D%E0%A6%AA%E0%A6%B2%E0%A6%BE%E0%A6%87%E0%A6%A8" title="ফোনে নারী ও শিশু সহায়তা ">
                              ফোনে নারী ও শিশু সহায়তা 
                          </a>
                      </li>
                      <li>
                          <i class="text-green fa fa-caret-right"></i>
                          <a href="https://www.bogra.gov.bd/bn/site/page/kGm8-%E0%A6%AB%E0%A7%8B%E0%A6%A8%E0%A7%87-%E0%A6%A1%E0%A6%BE%E0%A6%95%E0%A7%8D%E0%A6%A4%E0%A6%BE%E0%A6%B0%E0%A6%BF-%E0%A6%B8%E0%A7%87%E0%A6%AC%E0%A6%BE" title="ফোনে ডাক্তারের সেবা ">
                              ফোনে ডাক্তারের সেবা 
                          </a>
                      </li>
                   </ul>
                   </div>
             </div>
{% endif %}
     
</div>


{% if request.session.lang != 'english' %}
    
    
        <div class="row service-row">
            <div class="col-md-6">
                <div class="service-box box">
                  <!--  -->
                  <h4 >স্বাস্থ্য-সেবা</h4>
                  <!-- <h4 style="color: ">স্বাস্থ্য-সেবা</h4> -->
                   <img src="//file-rajshahi.portal.gov.bd/files/bogra.gov.bd/front_service_box/3e95084a_1aee_11e7_8120_286ed488c766/db079bc69d1ea34a0d7236bb0d589742.png" alt="স্বাস্থ্য-সেবা" width="110" style="max-width:700px;"><ul class="caption fade-caption" style="margin:0"><!-- {
          "link": "\/site\/page\/xS3I-\u09b9\u09be\u09b8\u09aa\u09be\u09a4\u09be\u09b2-\u0993-\u0995\u09cd\u09b2\u09bf\u09a8\u09bf\u0995",
          "caption": {
              "bn": "\u09a1\u09be\u0995\u09cd\u09a4\u09be\u09b0\u09c7\u09b0 \u09b8\u09be\u09a5\u09c7 \u0995\u09a5\u09be \u09ac\u09b2\u09c1\u09a8",
              "en": "Talk to the doctor"
          }
          } --><li>
                          <i class="text-green fa fa-caret-right"></i>
                          <a href="https://www.bogra.gov.bd/bn/site/page/xS3I-%E0%A6%B9%E0%A6%BE%E0%A6%B8%E0%A6%AA%E0%A6%BE%E0%A6%A4%E0%A6%BE%E0%A6%B2-%E0%A6%93-%E0%A6%95%E0%A7%8D%E0%A6%B2%E0%A6%BF%E0%A6%A8%E0%A6%BF%E0%A6%95" title="ডাক্তারের সাথে কথা বলুন"> 
                              ডাক্তারের সাথে কথা বলুন
                          </a>
                      </li>
                      <li>
                          <i class="text-green fa fa-caret-right"></i>
                          <a href="https://www.bogra.gov.bd/bn/site/page/s9WU-%E0%A6%A1%E0%A6%BE%E0%A6%95%E0%A7%8D%E0%A6%A4%E0%A6%BE%E0%A6%B0%E0%A7%87%E0%A6%B0-%E0%A6%A4%E0%A6%BE%E0%A6%B2%E0%A6%BF%E0%A6%95%E0%A6%BE" title="ডাক্তারের তালিকা">
                              ডাক্তারের তালিকা
                          </a>
                      </li>
                      <li>
                          <i class="text-green fa fa-caret-right"></i>
                          <a href="https://www.bogra.gov.bd/bn/site/page/xS3I-%E0%A6%B9%E0%A6%BE%E0%A6%B8%E0%A6%AA%E0%A6%BE%E0%A6%A4%E0%A6%BE%E0%A6%B2-%E0%A6%93-%E0%A6%95%E0%A7%8D%E0%A6%B2%E0%A6%BF%E0%A6%A8%E0%A6%BF%E0%A6%95" title=" হাসপাতাল ও ক্লিনিক ">
                               হাসপাতাল ও ক্লিনিক 
                          </a>
                      </li>
                      <li>
                          <i class="text-green fa fa-caret-right"></i>
                          <a href="http://www.bangladesh.gov.bd/site/view/eservices/%E0%A6%B8%E0%A7%8D%E0%A6%AC%E0%A6%BE%E0%A6%B8%E0%A7%8D%E0%A6%A5%E0%A7%8D%E0%A6%AF%20%E0%A6%AC%E0%A6%BF%E0%A6%B7%E0%A7%9F%E0%A6%95" title="স্বাস্থ্য-সেবা">
                              স্বাস্থ্য-সেবা
                          </a>
                      </li>
                   </ul></div>
             </div>
          

       <div class="col-md-6">
      <div class="service-box box">
        <!--  -->
        <h4 >নিরাপত্তা ও শৃঙ্খলা</h4>
        <!-- <h4 style="color: ">নিরাপত্তা ও শৃঙ্খলা</h4> -->
         <img src="//file-rajshahi.portal.gov.bd/files/bogra.gov.bd/front_service_box/38a5d44c_1aee_11e7_8120_286ed488c766/5dda876734aac602fb53701852b791ee.png" alt="নিরাপত্তা ও শৃঙ্খলা" width="110" style="max-width:700px;"><ul class="caption fade-caption" style="margin:0"><!-- {
"link": "http:\/\/ecourt.gov.bd",
"caption": {
    "bn": "\u0985\u09aa\u09b0\u09be\u09a7\u09c7\u09b0 \u09a4\u09a5\u09cd\u09af \u09a6\u09bf\u09a8 ",
    "en": "Complaints "
}
} --><li>
                <i class="text-green fa fa-caret-right"></i>
                <a href="http://ecourt.gov.bd" title="অপরাধের তথ্য দিন "> 
                    অপরাধের তথ্য দিন 
                </a>
            </li>
            <li>
                <i class="text-green fa fa-caret-right"></i>
                <a href="http://www.police.gov.bd/" title="পুলিশি   সহায়তা">
                    পুলিশি   সহায়তা
                </a>
            </li>
            <li>
                <i class="text-green fa fa-caret-right"></i>
                <a href="//play.google.com/store/apps/details?id=com.mcc.fire_service&hl=en" title="মোবাইলে ফায়ার সার্ভিস">
                    মোবাইলে ফায়ার সার্ভিস
                </a>
            </li>
            <li>
                <i class="text-green fa fa-caret-right"></i>
                <a href="http://efirelicense.gov.bd" title="অনলাইনে ফায়ার লাইসেন্স">
                    অনলাইনে ফায়ার লাইসেন্স
                </a>
            </li>
         </ul></div>
   </div>
 </div>

        <div class="row service-row">
           
                 

          <!--   <div class="col-md-6">-->
          <!--      <div class="service-box box">-->
                  <!--  -->
          <!--        <h4 style="color: red">অভিযোগ প্রতিকার ব্যবস্থা</h4>-->
                  <!-- <h4 style="color: ">অভিযোগ প্রতিকার ব্যবস্থা</h4> -->
          <!--         <img src="//file-rajshahi.portal.gov.bd/files/bogra.gov.bd/front_service_box/6ea215b5_ed5a_4f02_8d1e_242b69929105/22ac738855abdbc09d366845ba752be3.png" alt="অভিযোগ প্রতিকার ব্যবস্থা" width="110" style="max-width:700px;"><ul class="caption fade-caption" style="margin:0"><!-- {-->
          <!--"link": "site\/onik\/G49j-\u0985\u09ad\u09bf\u09af\u09cb\u0997-\u09a8\u09bf\u09b7\u09cd\u09aa\u09a4\u09cd\u09a4\u09bf\u0995\u09be\u09b0\u09bf-\u0995\u09b0\u09cd\u09ae\u0995\u09b0\u09cd\u09a4\u09be\u0997\u09a3",-->
          <!--"caption": {-->
          <!--    "bn": "\u0985\u09a8\u09bf\u0995 \u0993 \u0986\u09aa\u09bf\u09b2 \u0995\u09b0\u09cd\u09ae\u0995\u09b0\u09cd\u09a4\u09be\u0997\u09a3 ",-->
          <!--    "en": "ONIK & Appellate Officer"-->
          <!--}-->
          <!--} <li>-->
          <!--                <i class="text-green fa fa-caret-right"></i>-->
          <!--                <a href="/bn/site/onik/G49j-%E0%A6%85%E0%A6%AD%E0%A6%BF%E0%A6%AF%E0%A7%8B%E0%A6%97-%E0%A6%A8%E0%A6%BF%E0%A6%B7%E0%A7%8D%E0%A6%AA%E0%A6%A4%E0%A7%8D%E0%A6%A4%E0%A6%BF%E0%A6%95%E0%A6%BE%E0%A6%B0%E0%A6%BF-%E0%A6%95%E0%A6%B0%E0%A7%8D%E0%A6%AE%E0%A6%95%E0%A6%B0%E0%A7%8D%E0%A6%A4%E0%A6%BE%E0%A6%97%E0%A6%A3" title="অনিক ও আপিল কর্মকর্তাগণ "> -->
          <!--                    অনিক ও আপিল কর্মকর্তাগণ -->
          <!--                </a>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--                <i class="text-green fa fa-caret-right"></i>-->
          <!--                <a href="http://www.grs.gov.bd" title="অনলাইনে অভিযোগ দাখিল">-->
          <!--                    অনলাইনে অভিযোগ দাখিল-->
          <!--                </a>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--                <i class="text-green fa fa-caret-right"></i>-->
          <!--                <a href="/bn/site/page/HLIX-%E0%A6%85%E0%A6%AD%E0%A6%BF%E0%A6%AF%E0%A7%8B%E0%A6%97-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%A4%E0%A6%BF%E0%A6%95%E0%A6%BE%E0%A6%B0-%E0%A6%B8%E0%A6%82%E0%A6%95%E0%A7%8D%E0%A6%B0%E0%A6%BE%E0%A6%A8%E0%A7%8D%E0%A6%A4-%E0%A6%AE%E0%A6%BE%E0%A6%B8%E0%A6%BF%E0%A6%95-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%A4%E0%A6%BF%E0%A6%AC%E0%A7%87%E0%A6%A6%E0%A6%A8" title="মাসিক পরিবীক্ষণ/মূল্যায়ন প্রতিবেদন ">-->
          <!--                  মূল্যায়ন প্রতিবেদন -->
          <!--                </a>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--                <i class="text-green fa fa-caret-right"></i>-->
          <!--                <a href="//cabinet.gov.bd/site/page/226895bd-5035-455d-a940-8b8058f009f0/%E0%A6%86%E0%A6%87%E0%A6%A8-%E0%A6%AC%E0%A6%BF%E0%A6%A7%E0%A6%BF-%E0%A6%A8%E0%A7%80%E0%A6%A4%E0%A6%BF%E0%A6%AE%E0%A6%BE%E0%A6%B2%E0%A6%BE-%E0%A6%AA%E0%A6%B0%E0%A6%BF%E0%A6%AA%E0%A6%A4%E0%A7%8D%E0%A6%B0-%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A7%8D%E0%A6%A6%E0%A7%87%E0%A6%B6%E0%A6%BF%E0%A6%95%E0%A6%BE-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%9C%E0%A7%8D%E0%A6%9E%E0%A6%BE%E0%A6%AA%E0%A6%A8--" title="আইন/বিধি/পরিপত্র/নীতিমালা ">-->
          <!--                    আইন/বিধি/পরিপত্র/নীতিমালা -->
          <!--                </a>-->
          <!--            </li>-->
          <!--         </ul></div>-->
          <!--   </div>-->
    </div>

    {% endif %}

        <div class="row service-row">
       

    </div>

        <div class="row service-row">
       
       
                
{% include 'component/mapandvideo.html' %}                

</div>

    </div>
    </div>


    
</div>


           <!--       /////////////////////////////ডান সাইডের বার   ///////////////////        -->      
           
           
            
        
                    
                    
               
             
            
        {% include 'component/rightsidebar.html'%}
     </div>      
    
     

     
 
    
     

{% endblock %}
