<div class="modal fade" id="myModal" role="dialog" tabindex="-1">
    <div class="modal-dialog text-center" >
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <button class="btn btn-default"  data-dismiss="modal" onclick="accessibilitySkipToMainContent()">Skip to main content</button>
          <button class="btn btn-default" id="accessibilitypop" onclick="accessibility()">Go to accessibility menu</button>
          <button class="btn btn-default"  type="button" class="close" data-dismiss="modal" onclick="accessibilitymodelClose()" title="close" alt="close">
        <i class="fa fa-close" style="font-size:18px"></i></button>
        </div>
      </div>
    </div>
  </div>