{% load static %}
<div class="row" >
    <div class="col">
        <div id="bottom">
             <div class="blocks">
</div>                </div>
    </div>
</div>
<div class="row">
    <!-- footer partial will be hear -->
    <div class="col">
        <div>
          
<div class="footer-artwork" id="footer-artwork" >&nbsp;</div>
<div class="footer-wrapper full-width" id="footer-wrapper">
<div id="footer-menu">
        {% if request.session.lang == 'english' %}
            <div>
        <div class="text-center" style="font-size: 10pt!important;">
            Developed By <a style="font-size: 10pt!important;" href="" target="_tab">            <img src="/static/images/gmrwc_logo.png" width="50px" alt="" style="margin-top:10px">
    
            <a href="https://gmrwc.edu.bd/department/2/Department%20%20Head/">Deparment of ICT</a>
            <br>
            Govt. Mojibor Rahman Bhandari Women's College, Bogura 

        </div>
        <div class="text-center" style="font-size: 10pt!important;">
            <!--<p>-->
            <!--    Scheme & Implementation:-->
            <!--    <a href="//www.cabinet.gov.bd/"  title="মন্ত্রিপরিষদ বিভাগ" target="_blank">Cabinet Division</a>,&nbsp;-->
            <!--    <a href="//a2i.gov.bd" title="এটুআই" target="_blank">A2i</a>,&nbsp;-->
            <!--    <a href="//www.bcc.gov.bd/" title="বিসিসি" target="_blank">BCC</a>,&nbsp;-->
            <!--    <a href="//doict.gov.bd/" title="ডিওআইসিটি" target="_blank">DoICT</a>&nbsp;ও&nbsp;-->
            <!--    <a href="//www.basis.org.bd/" title="বেসিস" target="_blank">BASIS</a>-->
            <!--</p>-->

        </div>
    </div>
    
        {% else %}
    <div>
        <div class="text-center" style="font-size: 10pt!important;">
            কারিগরি সহায়তায় <a style="font-size: 10pt!important;" href="" target="_tab"><img src="/static/images/gmrwc_logo.png" width="50px" alt="" style="margin-top:10px">
    
                <a href="https://gmrwc.edu.bd/department/2/Department%20%20Head/"> আইসিটি বিভাগ </a>
            <br>সরকারি মজিবর রহমান  ভান্ডারী মহিলা কলেজ, বগুড়া
        </div>
        
        <div class="text-center" style="font-size: 10pt!important;">
            <!--<p>-->
            <!--    পরিকল্পনা ও বাস্তবায়নে:-->
            <!--    <a href="//www.cabinet.gov.bd/"  title="মন্ত্রিপরিষদ বিভাগ" target="_blank">মন্ত্রিপরিষদ বিভাগ</a>,&nbsp;-->
            <!--    <a href="//a2i.gov.bd" title="এটুআই" target="_blank">এটুআই</a>,&nbsp;-->
            <!--    <a href="//www.bcc.gov.bd/" title="বিসিসি" target="_blank">বিসিসি</a>,&nbsp;-->
            <!--    <a href="//doict.gov.bd/" title="ডিওআইসিটি" target="_blank">ডিওআইসিটি</a>&nbsp;ও&nbsp;-->
            <!--    <a href="//www.basis.org.bd/" title="বেসিস" target="_blank">বেসিস</a>-->
            <!--</p>-->

        </div>
    </div>
        {% endif %}


</div>


</div>                </div>
    </div>
   
</div>
</div>