<div class="block">

    <div class="content">
                    <table border="1" cellpadding="1" cellspacing="1" style="height:240px; width:720px"><tbody><tr><td><iframe frameborder="0" height="240" src="//www.youtube.com/embed/-7KRaSg-IeI" width="300" loading="lazy"></iframe></td>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14479.872526257583!2d89.373203!3d24.864938!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fc551af65981d1%3A0x79362f623331af76!2sGovt.%20Mujibur%20Rahman%20Mohila%20College!5e0!3m2!1sen!2sbd!4v1724352112044!5m2!1sen!2sbd" width="400" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" preload="none"></iframe></td>
    </tr></tbody></table><p>&nbsp;</p>

    </div>  

</div>
