{% load static %}
<div class="row" style="margin-bottom: 15px;">
    <div class="col-md-12">
        <div class="menu d-none d-md-block cmn-mrg-btm">
            <ul class="menu-container meganizr mzr-slide mzr-responsive">
                <li class="col0 home"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                                                
                <!-- Menu Color Admin Custom Start -->
                    <!--  -->
                    <!--  -->
                                                            
                                                                    <!-- 1  -->
                                        
                                                                    <!-- 1  -->
                                    <!-- Menu Color Admin Custom End -->
                {%for navitem in navitems %}
                {% if navitem.serial > 6 %}
                <li class="mzr-drop menu-link  col{{navitem.serial}}  focusin-drop focusClassDrop" style="background:">
                {% else %}
                <li class="mzr-drop menu-link  c{{navitem.serial}}  focusin-drop focusClassDrop" style="background:">
                {% endif %}

                    <a href="#" title="{{navitem.name}}" style="pointer-events: none;cursor: default;" aria-disabled="true">{{navitem.name}}</a>
                    <div class="sub-menu mzr-content " >
                        <div class="five-col">
                                                                                                
    
                        
                        <!-- Sub-Menu Color Admin Custom Start -->
                            <!--  -->
                            <!--  -->
                                                                                    
                                                                                            <!-- 1  -->
                                                        
                                                                                            <!-- 1  -->
                                                    <!-- Sub-Menu Color Admin Custom End -->
                        {% for navelement in navitem.navelement.all %}
                        <div class="one-col">
                                                            <h6 style="background:; color: ; font-size: 16px!important;">{{navelement.head}}</h6>
                                                        
                            <ul class="mzr-links">
                                
                                                                                                
                                <!-- Third Menu Color Admin Custom Start -->
                                    <!--  -->
                                    <!--  -->
                                                                                                            
                                                                                                                    <!-- 1  -->
                                                                        
                                                                                                                    <!-- 1  -->
                                                                    <!-- Third Menu Color Admin Custom End -->
                        {% for page in navelement.page.all %}

                                <li style="background:">
                                    <a title="{{page.title}}" href="{% if navitem.id == 3 %}{% url 'department' navitem.name page.heading page.id  %}{% else %}{% url 'showpage' navitem.name page.heading page.id  %}{% endif %}"
                                    style="color: ">{{page.heading}}</a>
                                    
                                    <!-- Start Forth Level -->
                                        <ul class="mzr-links">
                                                                                
                                        
                                        </ul>
                                    
                                    <!-- End Forth Level -->
                                </li>
                        {% endfor %}
                                
                                     
    
                                                            </ul>
                        </div>
                                                                                                
                        {% endfor %}

                        
                        <!-- Sub-Menu Color Admin Custom Start -->
                            <!--  -->
                            <!--  -->
                                                                                    
                                                                                            <!-- 1  -->
                                                        
                                                                                            <!-- 1  -->
                                                    <!-- Sub-Menu Color Admin Custom End -->
                        
                                                    <!-- Sub-Menu Color Admin Custom End -->
                        
                        
                                                </div>
                    </div>
                </li>
                {% endfor %}                                
                <!-- Menu Color Admin Custom Start -->
                    <!--  -->
                    <!--  -->
                    <li class="col7 "><a class="submenu sub-menu" href="https://grc.studentpay.net/online-admission" target="_blank" title="অনলাইন এডমিশন">অনলাইন এডমিশন</a></li>                                         
                                                  
                                                                    <!-- 1  -->
                                        
                 
            </ul>
    </div>

    <div class="mob_menu d-block d-md-none" id="jmenu">
        <a href="javascript:;" class="show-menu menu-head" title=" মেনু নির্বাচন করুন">
            <i class="fas fa-bars"></i>
            <span style="margin-left:10px;"> মেনু নির্বাচন করুন </span>
        </a>
        <div role="navigation" id="dawgdrops">
            <ul class="meganizr mzr-slide mzr-responsive mb-3" style="display: none;">
                <li class="col0 home"><a href=/bn></a></li>
            {%for navitem in navitems %}

                <li class="mzr-drop col{{navitem.id}}">
                    <a title="{{navitem.name}}">{{navitem.name}}</a>
                    <div class="mzr-content sibling-toggle" style="display:none">
                        
                        {% for navelement in navitem.navelement.all%}

                        <div class="one-col">
                            <h6>{{navelement.head}}</h6>
                            <ul class="mzr-links">
                                
                                {% for page in navelement.page.all %}

                                <li><a title="{{page.heading}}" href="{% if navitem.id == 3 %}{% url 'department' navitem.name page.heading page.id  %}{% else %}{% url 'showpage' navitem.name page.heading page.id  %}{% endif %}">{{page.heading}}</a></li>
                                
                                {% endfor %}
                            </ul>
                                                                    
                                                        
                        </div>
                        {% endfor %}
                    </div>
                </li>

             {% endfor %}

                    <li class="mzr-drop col9">
                        <a title="এনওসি">এনওসি</a>
                        <div class="mzr-content sibling-toggle" style="display:none">
                            <div class="one-col">
                                <h6>অনাপত্তি সনদ প্রদান</h6>
                                <ul class="mzr-links">
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>