{% load static %}
<style>
    @keyframes scale {
        0% {
          transform: scale(0);
          opacity: 0;
        }
        
        100% {
          transform: scale(1);
          opacity: 1;
        }
      }
    @keyframes spin {
        to {
          transform: rotateY(1turn);
        }
      }
      
        
        #site-name, #slogan{
            animation: scale 2s ease-in;
            animation-iteration-count: 1;
            animation-delay: 0s;
        }
</style>
<div id="menu-bar" class="row" style="margin-bottom: 15px;" style="font-family:kalpurush;">
    <div class="col-md-12">
        <div  class="menu d-none d-md-block cmn-mrg-btm">
            <ul class="menu-container meganizr mzr-slide mzr-responsive">
                <li class="col0 home"><a href="/"><i class="fas fa-home"></i></a></li>
                                                
                <!-- Menu Color Admin Custom Start -->
                    <!--  -->
                    <!--  -->
                                                            
                                                                    <!-- 1  -->
                                        
                                                                    <!-- 1  -->
                                    <!-- Menu Color Admin Custom End -->
            {% if request.session.lang == 'english'%}
            {%for navitem in navitems %}
            {% if navitem.serial > 6 %}
            <li class="mzr-drop menu-link  col{{navitem.serial}}  focusin-drop focusClassDrop">
            {% else %}
            <li class="mzr-drop menu-link  c{{navitem.serial}}  focusin-drop focusClassDrop" >
            {% endif %}

                <a href="#" title="{{navitem.name}}" style="pointer-events: none;cursor: default;" aria-disabled="true">{{navitem.name_en}}</a>
                <div class="sub-menu mzr-content " >
                    <div class="five-col">
                                                                                            

                    
                    <!-- Sub-Menu Color Admin Custom Start -->
                        <!--  -->
                        <!--  -->
                                                                                
                                                                                        <!-- 1  -->
                                                    
                                                                                        <!-- 1  -->
                                                <!-- Sub-Menu Color Admin Custom End -->
                    {% for navelement in navitem.navelement.all %}
                    <div class="one-col">
                                                        <h6 style=" font-size: 17px!important;font-family:kalpurush;font-weight:bold;">{{navelement.head_en}}</h6>
                                                    
                        <ul class="mzr-links" >
                            
                                                                                            
                            <!-- Third Menu Color Admin Custom Start -->
                                <!--  -->
                                <!--  -->
                                                                                                        
                                                                                                                <!-- 1  -->
                                                                    
                                                                                                                <!-- 1  -->
                                                                <!-- Third Menu Color Admin Custom End -->
                    {% for page in navelement.page.all %}

                            <li >
                                
                                <a title="{{page.title}}" href="{% if navitem.id == 3 %}{% url 'department' navitem navelement page page.id  %}{% else %}{% url 'showpage' navitem navelement page page.id  %}{% endif %}"
                                    >{{page.heading_en}}</a>
                                    
                                    <!-- Start Forth Level -->
                                        <ul class="mzr-links">
                                                                                
                                        
                                        </ul>
                                
                                <!-- Start Forth Level -->
                                    <ul class="mzr-links">
                                                                            
                                    
                                    </ul>
                                
                                <!-- End Forth Level -->
                            </li>
                    {% endfor %}
                            
                                 

                                                        </ul>
                    </div>
                                                                                            
                    {% endfor %}

                    
                    <!-- Sub-Menu Color Admin Custom Start -->
                        <!--  -->
                        <!--  -->
                                                                                
                                                                                        <!-- 1  -->
                                                    
                                                                                        <!-- 1  -->
                                                <!-- Sub-Menu Color Admin Custom End -->
                    
                                                <!-- Sub-Menu Color Admin Custom End -->
                    
                    
                                            </div>
                </div>
            </li>
            {% endfor %}                                
            <!-- Menu Color Admin Custom Start -->
                <!--  -->
                <!--  -->
            <!--<li class="col7 mzr-drop focusin-drop focusClassDrop"> <a class="submenu sub-menu" href="https://student.gmrwc.edu.bd/admission/login/" target="_blank" title="অনলাইন এডমিশন">Online Admission</a></li>                                         -->
            <!--<li class="col7 mzr-drop focusin-drop focusClassDrop"> <a class="submenu sub-menu" href="{% url 'choice-certificate' %}" target="_blank" title="সনদসমূহ">Testimonial and Certificate</a></li>                                         -->
            <!--<li class="col7 mzr-drop focusin-drop focusClassDrop"> <a class="submenu sub-menu" href="https://student.gmrwc.edu.bd/result/" target="_blank" title="Results">Results</a></li>                                         -->

            {% else %}
                {%for navitem in navitems %}
                {% if navitem.serial > 6 %}
                <li class="mzr-drop menu-link  col{{navitem.serial}}  focusin-drop focusClassDrop" >
                {% else %}
                <li class="mzr-drop menu-link  c{{navitem.serial}}  focusin-drop focusClassDrop" >
                {% endif %}

                    <a href="#" title="{{navitem.name}}" style="pointer-events: none;cursor: default;" aria-disabled="true">{{navitem.name}}</a>
                    <div class="sub-menu mzr-content " >
                        <div class="five-col">
                                                                                                
    
                        
                        <!-- Sub-Menu Color Admin Custom Start -->
                            <!--  -->
                            <!--  -->
                                                                                    
                                                                                            <!-- 1  -->
                                                        
                                                                                            <!-- 1  -->
                                                    <!-- Sub-Menu Color Admin Custom End -->
                        {% for navelement in navitem.navelement.all %}
                        <div class="one-col">
                                                            <h6 style="font-size: 17px!important;font-weight:bold;">{{navelement.head}}</h6>
                                                        
                            <ul class="mzr-links">
                                
                                                                                                
                                <!-- Third Menu Color Admin Custom Start -->
                                    <!--  -->
                                    <!--  -->
                                                                                                            
                                                                                                                    <!-- 1  -->
                                                                        
                                                                                                                    <!-- 1  -->
                                                                    <!-- Third Menu Color Admin Custom End -->
                        {% for page in navelement.page.all %}

                                <li >
                                    <a title="{{page.title}}" href="{% if navitem.id == 3 %}{% url 'department' navitem.name_en navelement.head_en page.heading_en page.id  %}{% else %}{% url 'showpage' navitem navelement page page.id  %}{% endif %}"
                                    >{{page.heading}}</a>
                                    
                                    <!-- Start Forth Level -->
                                        <ul class="mzr-links">
                                                                                
                                        
                                        </ul>
                                    
                                    <!-- End Forth Level -->
                                </li>
                        {% endfor %}
                                
                                     
    
                                                            </ul>
                        </div>
                                                                                                
                        {% endfor %}

                        
                        <!-- Sub-Menu Color Admin Custom Start -->
                            <!--  -->
                            <!--  -->
                                                                                    
                                                                                            <!-- 1  -->
                                                        
                                                                                            <!-- 1  -->
                                                    <!-- Sub-Menu Color Admin Custom End -->
                        
                                                    <!-- Sub-Menu Color Admin Custom End -->
                        
                        
                                                </div>
                    </div>
                </li>
                {% endfor %}                                
                <!-- Menu Color Admin Custom Start -->
                    <!--  -->
                    <!--  -->
                    <!--<li class="col7 mzr-drop focusin-drop focusClassDrop"> <a class="submenu sub-menu" href="https://student.gmrwc.edu.bd/admission/login/" target="_blank" title="অনলাইন এডমিশন">অনলাইন এডমিশন</a></li>                                         -->
                    <!--<li class="col7 mzr-drop focusin-drop focusClassDrop"> <a class="submenu sub-menu" href="{% url 'choice-certificate' %}" target="_blank" title="সনদসমূহ">সনদসমূহ</a></li>                                         -->
                    <!--<li class="col7 mzr-drop focusin-drop focusClassDrop"> <a class="submenu sub-menu" href="https://student.gmrwc.edu.bd/result/" target="_blank" title="ফলাফল">ফলাফল</a></li> -->
                    
                    {% endif %}                                     
                                                                    <!-- 1  -->
 </ul>
    </div>

    <div class="mob_menu d-block d-md-none" id="jmenu">
        <a href="javascript:;" class="show-menu menu-head" style="background-color:#009999;color:white;" title=" মেনু নির্বাচন করুন">
            <i class="fas fa-bars"></i>
        {% if request.session.lang == 'english'%}

                    <span style="margin-left:10px;"> Select Menu</span>


        {% else %}
            <span style="margin-left:10px;"> মেনু নির্বাচন করুন </span>

        {% endif %}
        </a>
        <div role="navigation" id="dawgdrops">
            <ul class="meganizr mzr-slide mzr-responsive mb-3" style="display: none;">
                <li class="col2"><a href="/"></a><i class="fas fa-home"></i></li>
            {%for navitem in navitems %}

                <li class="mzr-drop col{{navitem.id}}">
                    <a  title="{{navitem.name}}" style="font-size:18px; font-weight:bold;">{% if request.session.lang == 'english'%} {{navitem.name_en}}  {% else %} {{navitem.name}} {% endif %}</a>
                    <div class="mzr-content sibling-toggle" style="display:none">
                        
                        {% for navelement in navitem.navelement.all%}

                        <div class="one-col">
                            <h3 style="margin-left:10px;">{% if request.session.lang == 'english'%} {{navelement.head_en}} {% else %}{{navelement.head}} {% endif %}</h3>
                            <ul class="mzr-links" style="margin-left:15px;">
                                
                                {% for page in navelement.page.all %}

                                <li><a title="{{page.heading}}" href="{% if navitem.id == 3 %}{% url 'department' navitem.name_en navelement.head_en page.heading_en page.id  %}{% else %}{% url 'showpage' navitem.name_en navelement.head_en page.heading_en page.id  %}{% endif %}">        {% if request.session.lang == 'english'%}
                                    {{page.heading_en}}        
                                    {% else %}
                                    {{page.heading}}        
                                    {% endif %}
                                </a>
                                </li>
                                
                                {% endfor %}
                            </ul>
                                                                    
                                                        
                        </div>
                        {% endfor %}
                    </div>
                </li>

             {% endfor %}
                {% if request.session.lang == 'english'%}

                    <li class="col6">
                        <a href="{% url 'admission_login' %}" title="অনলাইন এডমিশন">   Online Admission</a></li>
                    <li class="col7"> <a href="{% url 'choice-certificate' %}" title="সনদসমূহ">Certificates</a></li> 
                    <li class="col7"> <a href="https://old.gmrwc.edu.bd" >Old Website </a></li>     

                    <li class="col7"> <a href="https://result.gmrwc.edu.bd" >Results </a></li>     
                    {% else %}
                    <!--<li class="col6">-->
                    <!--    <a href="{% url 'admission_login' %}" title="অনলাইন এডমিশন">অনলাইন এডমিশন</a>-->
                    <!--</li>-->
                    <!--<li class="col7"> <a href="{% url 'choice-certificate' %}" title="সনদসমূহ">সনদসমূহ</a></li> -->
                    <!--<li class="col7"> <a href="https://result.gmrwc.edu.bd" >ফলাফল </a></li>-->

                    <li class="col7"> <a href="https://old.gmrwc.edu.bd" >পূর্বতন ওয়েবসাইট</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
    </div>
    