{% load static %}
<div class="blocks">

</div>   
</div>

<div class="blocks">

<div id="notice-board" class="box p-4">
    <div class="notice-board-bg">
        <h2 id="notice-board-bg">নোটিশ বোর্ড</h2>
        <hr><div id="notice-board-ticker">
            <ul class="list list-unstyled">
                {% for notice in notices %}
                <li class="clearfix">
                    <a href="" title="গণবিজ্ঞপ্তি">
                        <i class="text-green fa fa-arrow-circle-right"></i>
                        <span>{{notice.title}}</span>
                    </a>
                </li>
                {% endfor %}
                
                            </ul><div class="clearfix">
                <a href="http://www.bogra.gov.bd/bn/site/view/notices" title="সকল " class="btn right">সকল </a>
            </div>
        </div>
    </div>
</div> 





    <div id="news" class="section-title">
        <h5 tabindex="0" title="News Content">খবর </h5>
        <div class="news-container">
            <div id="news-ticker" class="ticker">
                <ul><li>kjhsdfhfuheiu</li><li>uytugfyf</li><li>sumon</li></ul>
            </div>
        </div>
    <div>
            <a href="http://www.bogra.gov.bd/bn/site/view/news" title="সকল " class="btn">সকল 
                </a>
        </div>
        </div>
        