{% load static %}
<div class="blocks">

</div>   
</div>

<div class="blocks">

<div id="notice-board" class="box p-4">
     
    <div class="notice-board-bg">
        {% if request.session.lang == 'english'%}
        <h2 id="notice-board-bg">Notice Board</h2>
        <hr>
        <div id="notice-board-ticker">
            <ul class="list list-unstyled">
                {% for notice in notices|slice:":8" %}
                <li class="clearfix">
                    <a href="{% url 'single_notice' notice.id %}" title="গণবিজ্ঞপ্তি">
                        <i class="text-green fa fa-arrow-circle-right"></i>
                        <span>{% if notice.title_en %}{{notice.title_en}} {% else %} {{notice.title}} {% endif %}</span>
                    </a>
                </li>
                {% endfor %}
                
                            </ul>
            <div class="clearfix">
                <a href="{% url 'tableshow' 'noticeall'  %}" title="সকল " class="btn right">All </a>
            </div>
        </div>
        {% else %}
        <h2 id="notice-board-bg">নোটিশ বোর্ড</h2>
        <hr>
        <div id="notice-board-ticker">
            <ul class="list list-unstyled">
                {% for notice in notices|slice:":8" %}
                <li class="clearfix">
                    <a href="{% url 'single_notice' notice.id %}" title="গণবিজ্ঞপ্তি">
                        <i class="text-green fa fa-arrow-circle-right"></i>
                        {% if request.session.lang == 'english' and post.title_en %}
                                        <span>{{notice.title_en}}</span>
                                        {% else %}
                                        <span>{{notice.title}}</span>
                                        {% endif %}
                    </a>
                </li>
                {% endfor %}
                
                            </ul>
            <div class="clearfix">
                <a href="{% url 'tableshow' 'noticeall'  %}" title="সকল " class="btn right">সকল </a>
            </div>
        </div>
        {% endif %}

    </div>
</div> 


<div id="news" class="section-title">
    {% if request.session.lang == 'english'%}
    <h5 tabindex="0" title="News Content">News </h5>
    <div class="news-container">
        <div id="news-ticker" class="ticker" style="color: red">
           
            <ul>
                {% for notice in notices %}
<li><i class="text-green fa fa-arrow-circle-right"></i><a style="color: red" href="{% url 'single_notice' notice.id %}"> {{notice.title_en}} </a></li>
                {% endfor %}
                
            </ul>
           
           
        </div>
    </div>
    <div>
        <a style="color: red" href="{% url 'tableshow' 'noticeall'  %}" title="সকল " class="btn">All
            </a>
    </div>
    {% else %}
    <h5 tabindex="0" title="News Content">খবর </h5>

    <div class="news-container">
        <div id="news-ticker" class="ticker" style="color: red">
          
            <ul>
                {% for n in news %}
<li><a style="color: red" href="{{n.get_absolute_url}}"> <img width="20px" height="15px" alt="" src="{%if n.image %}{{n.image.url}}{% elif user.image%}{{user.image.url}}{% else %} {% static 'images/gmrwc_logo.png' %}{% endif %}">{{n.title}} </a></li>

                {% endfor %}
                
            </ul>
           
           
        </div>
    </div>
    <div>
        <a href="https://gmrwc.edu.bd/news" title="সকল " class="btn">সকল  
            </a>
    </div>
    {% endif %}
        </div>
        