
        {% for navelement in  navitem.navelement.all  %}
        
        
        {% if heading == navelement.head  %}
        <div style="text-align: center;">

        <h3 class="title" style="text-align:center; color: brown;">{{navitem.name}} --> {{navelement.head}}</h3>
        <div class="block">

        <h3 class="title" style="text-align:center;">----</h3>
        </div>
        
        {% for page in navelement.page.all %}
        
            <a href="{% url 'showpage' navitem.name navelement.head page.heading page.id %}"  class="btn btn-success" type="button"> <h1> {{page.heading}}</h1></a>
        
        {% endfor %}
        
        <div class="block" style="margin-top: 15px;">

            <h3 class="title" style="text-align:center;">-----</h3>
            </div>
        </div>
       
            
        {% endif %}
            
            
            
    
    {% endfor %}

    