{% load static %}

<div class="plain-header">
    <div id="logo">
        <a title="" href="/">
            <img  alt="Bangladesh Govertment logo" src="//file-rajshahi.portal.gov.bd/media/central/themes/theme-default/img/logo.png" style=" width:50px; ">
        </a>
    </div>
    <div class="" id="plainhead">
        <span id="palin-header-text">
            <a title="বগুড়াঘদফগদ জেলা" href="/"> বগুড়া জেলাঝফহফ</a>
        </span>
        <span id=""></span>
    </div>
</div>
    
<div class="header-site-info" id="header-site-info">
    <div class="header-site-info" >
        <div id="logo">
            <a title="
                
            " href="/">
                <img alt="GMRWC logo" src="{% static 'images/gmrwc_logo.png' %}">
            </a>
        </div>
        <div class="clearfix" id="site-name-wrapper">
            <span id="site-name" style="text-align: center;">
                <a title="বগুড়া জেলা " href="/" >সরকারি মুজিবুর রহমান মহিলা কলেজ</a>
                
            </span>
            <span id="site-name" style="text-align: center; margin-top: 0px;">
                <a title="বগুড়া জেলা " href="/" >বগুড়া সদর, বগুড়া</a>
                
            </span>
            <span id="slogan" style="text-align: center;">স্থাপিতঃ ১৯৬৩</span>
        </div>
    </div>
    </div>
    <div style="clear: both"></div>