{% load static %} 
<div class="right-side-bar col-3">
    <div id="right">
        <div class="blocks">

        
    <!-- 133 - [70,71,82,129,133] -->
        
<!-- block-discount_electronic_toll_lanes_bridges-default <br> -->    
    <div class="block">

<div class="blocks">
    <div class="block">

  
         
         {% if request.session.lang == 'english' %}
         <h3 class="title" style="text-align:center;">National Anthem</h3>

            {% else %}
            <h3 class="title" style="text-align:center;">জাতীয় সংগীত</h3>
 
         {% endif %}
            

<div class="content">
    <audio controls  style="width: 210px;">
        <source src="{% static 'bd_national_anthem.mp3'%}" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
<h4 style="text-align: center;"></h4>
</div>  



</div>  
                
<div class="block">

  

    {% if request.session.lang == 'english' %}
    <h1 class="title" style="text-align: center;"><u>College Founder</u></h1>
    <h3 class="title" style="text-align: center;">Md. Mujibur Rahman Vandari</h3>
    <div class="content">
        <p><img src="{%static 'images/founder.jpg'%}" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

<h4 style="text-align: center;margin: 2px;">Md. Mujibur Rahman Vandari</h4>
</div>  


       {% else %}
       <h1 class="title" style="text-align: center;"><u>কলেজ প্রতিষ্ঠাতা</u></h1>
       <h3 class="title" style="text-align: center;">মোঃ মজিবর রহমান ভান্ডারী</h3>
       <div class="content">
        <p><img src="{%static 'images/founder.jpg'%}" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

<h4 style="text-align: center;margin: 2px;">মোঃ মজিবর রহমান ভান্ডারী</h4>
</div>  

    {% endif %}
    
                               
            
    
    

</div>            

<div class="block">

  

    {% if request.session.lang == 'english' %}
    {% if principal %}

    <h1 class="title" style="text-align: center;"><u>Principal</u></h1>
    <h3 class="title" style="text-align: center;">{{principal.t_name}}</h3>
    <div class="content">
        <p><img src="{{ principal.image.url}}" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

<h4 style="text-align: center;margin: 2px;">{{principal.t_name}}</h4>
</div>  
{% endif %}

       {% else %}
       {% if principal %}

       <h1 class="title" style="text-align: center;"><u>অধ্যক্ষ</u></h1>
       <h3 class="title" style="text-align: center;">{{principal.t_name_bangla}}</h3>
       <div class="content">
        <p><img src="{{ principal.image.url}}" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

<h4 style="text-align: center; margin: 2px;">{{principal.t_name_bangla}}</h4>
</div>  
{% endif %}

    {% endif %}
    
                               
            
    
    

</div>            

        
                
        <!-- //file-rajshahi.portal.gov.bd/uploads/f5258379-edf7-4f4a-9306-d58f03afca06//646/9cb/fea/6469cbfea616d475812219.jpg -->
<div class="block job-block">
<div class="content">
    <table style="width:100%;table-layout:fixed;padding:0px;">
        <tbody>
            <tr style="border-bottom: 3px solid #f2f2f2">
                <td class="apply-online">
                    <a href="http://www.bogra.gov.bd/bn/site/view/revenue_model_job"
                        title="চাকুরি কর্নার">
                        <span>চাকুরি কর্নার
                            <sup>(8)</sup>
                        </span>
                    </a>
                </td>
                <td class="apply-online">
                    <a href="http://www.bogra.gov.bd/bn/site/view/revenue_model_tender"
                        title="দরপত্র">
                        <span>দরপত্র
                            <sup>(3)</sup>
                        </span>
                    </a>
                </td>
                <td class="apply-online">
                    <!-- <a href="http://www.bogra.gov.bd/bn/site/view/revenue_model_advertisement"
                        title="বিজ্ঞাপন">
                        <span>বিজ্ঞাপন
                            <sup>(5)</sup>
                        </span>
                    </a> -->
                    <!-- <a href="http://www.bogra.gov.bd/bn/site/view/RevenueModelAdvertisement"
                        title="বিজ্ঞাপন">
                        <span>বিজ্ঞাপন
                            <sup>(5)</sup>
                        </span>
                    </a> -->
                    <a href="http://www.bogra.gov.bd/bn/site/view/revenuemodeladvertisement"
                        title="বিজ্ঞাপন">
                        <span>বিজ্ঞাপন
                            <sup>(5)</sup>
                        </span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
   
    
            <div class="npsylhet_ad owl-carousel">
                    <div class="ad_item">
            <a href="//file-rajshahi.portal.gov.bd/uploads/f5258379-edf7-4f4a-9306-d58f03afca06//646/9cb/fea/6469cbfea616d475812219.jpg">
                <img alt="Advertisement banner" src=//file-rajshahi.portal.gov.bd/uploads/f5258379-edf7-4f4a-9306-d58f03afca06//646/9cb/fea/6469cbfea616d475812219.jpg width="100%" height="150" style="border: none;" alt=" " />
            </a>  
        </div>
                    <div class="ad_item">
            <a href="//file-rajshahi.portal.gov.bd/uploads/f5258379-edf7-4f4a-9306-d58f03afca06//643/7b8/603/6437b8603b46f361116110.jpeg">
                <img alt="Advertisement banner" src=//file-rajshahi.portal.gov.bd/uploads/f5258379-edf7-4f4a-9306-d58f03afca06//643/7b8/603/6437b8603b46f361116110.jpeg width="100%" height="150" style="border: none;" alt=" " />
            </a>  
        </div>
                </div>
        </div>
</div>

    
            
        
                
        <div class="block service-list">
<a href="http://webmail.mopa.gov.bd/" target="_blank">
    {% if request.session.lang == 'english' %}
        <h5 class="bk-org title eservice-title ces_title">Academic Calender </h5>

    {% else %}
        <h5 class="bk-org title eservice-title ces_title">একাডেমিক ক্যালেন্ডার </h5>
 
    {% endif %}
         
</a>
<div class="content">


</div>
</div>        
            
        
                
        <div class="block service-list">
<a href="{% url 'teacherlist' 'content_name' 'head' 'type' 'vacantpost' %}">
    {% if request.session.lang == 'english' %}
    <h5 class="bk-org title eservice-title ces_title">Vacant Posts </h5>

{% else %}
    <h5 class="bk-org title eservice-title ces_title">শূণ্যপদের তালিকা </h5>

{% endif %}

</a>
<div class="content">


</div>
</div>        
            
        
                
        <div class="block service-list">
            {% if request.session.lang == 'english' %}
            <h5 class="bk-org title eservice-title ces_title">Links for Teacher's </h5>
    
        {% else %}
            <h5 class="bk-org title eservice-title ces_title">শিক্ষকদের জন্য</h5>
     
        {% endif %}

        {% if request.session.lang == 'english' %}
        <ul>
            <li>
                <a href="https://emis.gov.bd/emis" title="নকলের জন্য আবেদন" target="_blank">
                    <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> EMIS Link
                </a>
            </li>
            <li>
                <a href="https://ibas.finance.gov.bd/login?returnUrl=%2Fnd%2F" title="ই-সেবার আবেদন" target="_blank">
                    <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> EFT (Online Salary) Link
                </a>
            </li>
        </ul>    
        {% else %}
        <ul>
            <li>
                <a href="https://emis.gov.bd/emis" title="নকলের জন্য আবেদন" target="_blank">
                    <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> ইএমআইএস(EMIS) লিংক
                </a>
            </li>
            <li>
                <a href="https://ibas.finance.gov.bd/login?returnUrl=%2Fnd%2F" title="ই-সেবার আবেদন" target="_blank">
                    <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> বেতন বিল সাবমিট(ইএফটি)
                </a>
            </li>
        </ul>     
        {% endif %}
        
</div>        
            
        
                
       
<div class="block service-list">
    {% if request.session.lang == 'english' %}
    <h5 class="bk-org title eservice-title ces_title">Important Links</h5>

{% else %}
<h5 class="bk-org title eservice-title ces_title">গুরত্বপূর্ণ লিংকসমূহ</h5>

{% endif %}

<div class="service-list-scroll">
    <ul>
                                <li>
            <a href="http://www.shed.gov.bd/" title="ই-ডিরেক্টরি">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> শিক্ষা মন্ত্রণালয়
            </a>
        </li>
                                <li>
            <a href="http://www.dshe.gov.bd/" title="ই-মোবাইল কোর্ট">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> মাধ্যমিক ও উচ্চশিক্ষা অধিদপ্তর
            </a>
        </li>
                                <li>
            <a href="http://www.nu.ac.bd/" title="জাতীয় শিক্ষক বাতায়ন">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> জাতীয় বিশ্ববিদ্যালয়
            </a>
        </li>
                                <li>
            <a href="http://www.rajshahieducationboard.gov.bd/" title="সুরক্ষা সিস্টেম">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> মাধ্যমিক ও উচ্চ মাধ্যমিক শিক্ষা বোর্ড রাজশাহী
            </a>
        </li>
                                <li>
            <a href="http://www.cedp.gov.bd/" title="লাইসেন্স ম্যানেজমেন্ট সিস্টেম">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> সিইডিপি (CEDP)
            </a>
        </li>
                                <li>
            <a href="http://service.gov.bd" title="ই-লাইব্রেরী">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> অনলাইন সেবার আবেদন
            </a>
        </li>
                                <li>
            <a href="http://www.cga.gov.bd/index.php?option=com_wrapper" title="ল&#039;স অফ বাংলাদেশ">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> অনলাইন চালান যাচাইকরণ
            </a>
        </li>
                                <li>
            <a href="//www.epassport.gov.bd/landing" title="ই-পাসপোর্ট">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> ই-পাসপোর্ট
            </a>
        </li>
                </ul>
</div>
</div>

 
            
        
                
        <div class="block service-list">
            {% if request.session.lang == 'english' %}
            <h5 class="title social-bg">Social Media</h5>
        
        {% else %}
        <h5 class="title social-bg">সামাজিক যোগাযোগ মাধ্যম</h5>
        
        {% endif %}
          
<div class="content">
            <a title="youtube" href="//www.youtube.com/channel/UCTcTpn0miTlITwieVIxRLow" target="_blank"
        class="share-buttons">
        <i class="fa fa-youtube-square fa-3x p-1 text-primary"></i>
    </a>
            <a title="facebook" href="//www.facebook.com/DCBogura" target="_blank"
        class="share-buttons">
        <i class="fa fa-facebook-square fa-3x p-1 text-primary"></i>
    </a>
        </div>
</div>
<div style="clear: both"></div>
<style>
.social-bg {
    /* background-image: url("//file.portal.gov.bd/media/central/themes/theme-default/img/right-bar-images/social_media_corner.jpg"); */
}
</style>        
            
        
                
        <div class="block service-list">
<a href="http://www.bogra.gov.bd/bn/site/view/innovation_content">
    {% if request.session.lang == 'english' %}
    <h5 class="bk-org title eservice-title ces_title">Innovation Corner</h5>

{% else %}
<h5 class="bk-org title eservice-title ces_title">ইনোভেশন কর্নার </h5>

{% endif %}

</a>
<div class="content">
</div>
</div>        
            
        
                
       
            
        
                
        <div class="block service-list">
            {% if request.session.lang == 'english' %}
            <h5 class="bk-org title eservice-title ces_title">Event Calender</h5>

{% else %}
<h5 class="bk-org title eservice-title ces_title">ইভেন্ট ক্যালেন্ডার</h5>

{% endif %}


<!-- Version 1.11.4 -->
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
<!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
<!-- Version 1.13.2 -->


<div class="content">
                    
    
    <div class="clearfix"></div>
    <div id="datepicker"></div>
    <div style="margin-top: 10px;">
        {% if request.session.lang == 'english' %}
        <a href="bn/site/view/calendar_event" class="btn btn-secondary" style="display:block; text-align:center; text-decoration:underline;color: #fff;font-weight: bold;">
            All Event
        </a>    
    {% else %}
    <a href="bn/site/view/calendar_event" class="btn btn-secondary" style="display:block; text-align:center; text-decoration:underline;color: #fff;font-weight: bold;">
        সকল ইভেন্ট
    </a>    
    {% endif %}
    
        
    </div>
    
</div>
</div>        
            
    

 <!-- Missing partial: block-right-common -->    
</div>


                    <div class="blocks">
        
               
        <div class="block">
<a href="http://npftr.portal.gov.bd/new-domain" target="_blank">
    {% if request.session.lang == 'english' %}
    <h5 class="bk-org title eservice-title ces_title">Govt. Office Attachment Form</h5>

{% else %}
<h5 class="title">সরকারি অফিস সংযুক্তির ফরম</h5>

{% endif %}

</a>
</div>
    
            
        
               
        <div class="block" aria-selected="true" tabindex="0">
            {% if request.session.lang == 'english' %}
            <h5 class="title">Emergency Hotlines</h5>

{% else %}
<h5 class="title">জরুরি হটলাইন</h5>

{% endif %}

<!--<div class="content">
   <img alt="জরুরি হটলাইন" src="//file.portal.gov.bd/media/central/uploaded-files/National-Helpline.jpg" style="height:100%; width:100%">
</div>-->
</div>        
            
    

</div>                        
                </div>
            </div>
                </div>

     </div>

