<div class="d-flex justify-content-between hide-for-print mb-3 mt-5">
    <div>
        <p class="share-title">কনটেন্টটি শেয়ার করতে ক্লিক করুন</p>
        <div class="blocks">
<div class="d-flex gap-1">
<a class="social_btn facebook fb-xfbml-parse-ignore" href="javascript:void(0)" onclick="shareOnClick('facebook')"><i class="fab fa-facebook-f"></i></a> 
<a class="twitter-share-button twitter social_btn" href="javascript:void(0)" onclick="shareOnClick('twitter')"><i class="fab fa-twitter"></i></a>
<a class="whatsapp social_btn" href="javascript:void(0)" onclick="shareOnClick('whatsapp')"><i class="fab fa-whatsapp"></i></a>
<a class="linkedin social_btn" href="javascript:void(0)" onclick="shareOnClick('linkedin')"> <i class="fab fa-linkedin" aria-hidden="true"></i></a>
<a class="link social_btn" onclick="copyToClipboard()"><i class="fa fa-link"></i></a>
<a class="viber social_btn" href="javascript:void(0)" onclick="shareOnClick('viber')"><i class="fab fa-viber"></i></a>
<a class="messenger social_btn ms-share" href="javascript:void(0)" onclick="shareOnClick('messenger')"><i class="fab fa-facebook-messenger"></i></a>
</div>
</div>
<script>
function shareOnClick(value) {
var fullURL = window.location.href;
if(value === 'facebook'){
var url = "//www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(fullURL) + "&amp;src=sdkpreparse";
}else if(value === 'twitter'){
var url = "//twitter.com/intent/tweet?text=" + encodeURIComponent(fullURL);
}else if(value === 'whatsapp'){
var url = "//wa.me/?text=" + encodeURIComponent(fullURL);
}else if(value === 'linkedin'){
var url = "//www.linkedin.com/sharing/share-offsite/?url=" + encodeURIComponent(fullURL);
}else if(value === 'messenger'){
var url = "//m.me/share/?url=" + encodeURIComponent(fullURL);
}else if(value === 'viber'){
var url = "viber://forward?text=" + encodeURIComponent(fullURL);
}
window.open(url, "_blank");
}

function copyToClipboard() {
var link = window.location.href;
var textarea = document.createElement("textarea");
textarea.value = link;
document.body.appendChild(textarea);
textarea.select();
document.execCommand("copy");
document.body.removeChild(textarea);
alert("Link copied to clipboard!");
}
</script>

<style>
.social_btn{
color: #fff !important;
padding: 5px;
font-size: 12px;
width: 24px;
height: 24px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
transition: all 0.6s ease;
margin: 0 2px 0 2px;
}
.social_btn:hover{
transform: translateY(-4px);
text-decoration: none !important;
}
/* Social Icon */
.bread_social{
display: flex;
justify-content: space-between;
align-items: center;
}
.facebook{
background: #303F9E;
}
.twitter{
background: #3675AE;
}
.viber{
background: #9D1BC0;
}
.twitter {
background: #3675AE;
}
.whatsapp {
background: #6FBE3C;
}
.linkedin {
background: #3874B2;
}
.link {
background: #4FB2E2;
}
.messenger {
background: #BF3DC8;
}

.share-popup {  
display: none;
position: absolute;
bottom: 3px;
left: 16px;
background-color: white;
/* border: 1px solid var(--globalColor); */
border-radius: 5px;
padding: 7px;
box-shadow: 0 0px 25px rgb(0 0 0 / 0.4);
z-index: 100000000000000000000000000;
}

.share-icon:hover+#share-popup,
.share-popup.active {
/* display: block; */
display: flex;
position: absolute;
z-index: 100000000000000000000000000;
}

@media (max-width: 767px) {
.bread_social{
flex-direction: column;
align-items: flex-start;
gap: 10px;
}
.webform{
display: flex;
flex-direction: column;
}
.webform iframe{
margin: 5px;
}
.webform .body{
width: 100%;
}
}



/* @media (min-width: 1920px) {
.share-popup {  
bottom: 3px;
}
.social_btn{
color: #fff !important;
padding: 5px;
font-size: 20px;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}
} */
</style>                                <!-- <div class="addthis_inline_share_toolbox"></div> -->
    </div>
    <div class="share-content-box">
        <div class="mr-2 d-flex align-items-center">
            <!-- <p class="share-youtube-title">National Portal Bangladesh</p>
            <div class="g-ytsubscribe" data-channelid="UCdf7GabtLtI8a6Gu2clXdHw" data-layout="default" data-count="default"></div>
            <p class="share-text-style">পোর্টাল সাবস্ক্রাইব করুন</p>-->  
             <iframe src="//www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNationalPortal%2F&amp;tabs&amp;width=340&amp;height=70&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=true&amp;show_facepile=true&amp;appId" width="340" height="70" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                                 <a href="//www.facebook.com/NationalPortal/" class="share-text-style" style="box-shadow: 0 0 0px 1px #80808033;
                padding: 12px 10px 9px;margin-left: 4px;font-size: 16px;text-align: left;border-radius: 1px;" target="_blink">
                ফেইসবুক পেইজ ভিজিট ও <br>লাইক দিন</a>
        </div>
        <!-- <div>
            <a href="#" onclick="loadOpinionPoll(this)"><img src="//file.portal.gov.bd/media/central/chart.png" alt="Polling" style="width:28px;height:24px;"></a>
            <p class="share-text-style">পোলিং</p>
        </div>
        <div>
            <a href="#" onclick="loadCommentSection(this, 2)"><img src="//file.portal.gov.bd/media/central/comment.png" alt="Polling" style="width:28px;height:24px;"></a>
            <p class="share-text-style">মতামত দিন</p>
        </div> -->
    </div>
</div>