
<div id="top">
    <div class="blocks">

<div class="top-menu">
    <div class="row mb-2 mb-md-0">
        <div class="col-8 col-md-3 bd-gov-site" style="margin-top: 5px;"><a href="http://www.bangladesh.gov.bd/" target="_blank" title="বাংলাদেশ জাতীয় তথ্য বাতায়ন">বাংলাদেশ জাতীয় তথ্য বাতায়ন</a></div>
        <div class="d-none d-md-block col-md-5 middle-form" id="sitesDropdown">
            <div class="form-item">
                <select title="বিভাগ নির্বাচন করতে এখানে ক্লিক করুন" class="chzn-select doptors mt-2 mt-md-0" id="doptor">
                    <option>---</option>
                    <option value="alldiv">বিভাগ </option>
                    <!-- <option>দপ্তর সমূহ </option> -->
    
                                        
                    <option value="2">
                                        দপ্তর অফিসসমূহ
                        <!-- দপ্তর অফিসসমূহ -->
                    </option>
                    
                                        
                    <option value="4">
                                        বিভাগ পর্যায়ের সরকারি অফিস
                        <!-- Divisional Govt. Office -->
                    </option>
                    
                                        
                    <option value="5">
                                        জেলা পর্যায়ের সরকারি অফিস
                        <!-- District Govt. Office -->
                    </option>
                    
                                        
                    <option value="6">
                                        উপজেলা পর্যায়ের সরকারি অফিস
                        <!-- Upazila Level Govt. Office -->
                    </option>
                    
                                        
                    <option value="7">
                                        আঞ্চলিক অফিসসমূহ
                        <!-- Union Govt. Office -->
                    </option>
                    
                                    </select>
    
                <select title="" class="chzn-select doptors d-none mt-2 mt-md-0" id="first_level"></select>
                <select title="" class="chzn-select doptors d-none mt-2 mt-md-0" id="second_level"></select>
                <select title="" class="chzn-select doptors d-none mt-2 mt-md-0" id="third_level"></select>
                <select title="" class="chzn-select doptors d-none mt-2 mt-md-0" id="forth_level"></select>
    
                <button class="btn btn-primary btn-sm" id="doptor_navigation_go">Go</button>
    
            </div>
        </div>
        <div class="col-4 col-md-3">
            <!-- <button id="lang-btn" class="btn btn-primary btn-sm float-right">English</button> -->
            <div style="margin-top: 5px;padding: 0;float:right">
                <a  class="search-btn" href="{% url 'login' %}">Login </a>&nbsp
                <a  class="search-btn" href="{% url 'register' %}">Registration </a>

            </div>
            
            
        </div>
        
    </div>
    
</div>














