{% load static %} 
<div class="right-side-bar col-3">
    <div id="right">
        <div class="blocks">

        
    <!-- 133 - [70,71,82,129,133] -->
        
<!-- block-discount_electronic_toll_lanes_bridges-default <br> -->    
    <div class="block">

<div class="blocks">
    <div class="block">

  

        <h3 class="title" style="text-align:center;">জাতীয় সংগীত</h3>

<div class="content">
    <audio controls  style="width: 210px;">
        <source src="{% static 'bd_national_anthem.mp3'%}" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
<h4 style="text-align: center;"></h4>
</div>  



</div>  
                
<div class="block">

  

  
                               <h1 class="title" style="text-align: center;"><u>বিভাগীয় প্রধান</u></h1>
                               <h3 class="title" style="text-align: center;">{%if department_head %}{{department_head.t_name_bangla}}{% endif %}</h3>
            
            
    <div class="content">
                    <p><img src="{%if department_head.image%}{{department_head.image.url}}{% else %} {% static 'images/gmrwc_logo.png'%} {% endif%}" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

<h4 style="text-align: center;">{%if department_head %}{{department_head.t_name}}{% endif %}</h4>
    </div>  
    
    

</div>            
            
        
                
        <!-- //file-rajshahi.portal.gov.bd/uploads/f5258379-edf7-4f4a-9306-d58f03afca06//646/9cb/fea/6469cbfea616d475812219.jpg -->
<div class="block job-block">
<div class="content">
    <table style="width:100%;table-layout:fixed;padding:0px;">
        <tbody>
            <tr style="border-bottom: 3px solid #f2f2f2">
                <td class="apply-online">
                    <a href="http://www.bogra.gov.bd/bn/site/view/revenue_model_job"
                        title="চাকুরি কর্নার">
                        <span>চাকুরি কর্নার
                            <sup>(8)</sup>
                        </span>
                    </a>
                </td>
                <td class="apply-online">
                    <a href="http://www.bogra.gov.bd/bn/site/view/revenue_model_tender"
                        title="দরপত্র">
                        <span>দরপত্র
                            <sup>(3)</sup>
                        </span>
                    </a>
                </td>
                <td class="apply-online">
                    <!-- <a href="http://www.bogra.gov.bd/bn/site/view/revenue_model_advertisement"
                        title="বিজ্ঞাপন">
                        <span>বিজ্ঞাপন
                            <sup>(5)</sup>
                        </span>
                    </a> -->
                    <!-- <a href="http://www.bogra.gov.bd/bn/site/view/RevenueModelAdvertisement"
                        title="বিজ্ঞাপন">
                        <span>বিজ্ঞাপন
                            <sup>(5)</sup>
                        </span>
                    </a> -->
                    <a href="http://www.bogra.gov.bd/bn/site/view/revenuemodeladvertisement"
                        title="বিজ্ঞাপন">
                        <span>বিজ্ঞাপন
                            <sup>(5)</sup>
                        </span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
   
    
            <div class="npsylhet_ad owl-carousel">
                    <div class="ad_item">
            <a href="//file-rajshahi.portal.gov.bd/uploads/f5258379-edf7-4f4a-9306-d58f03afca06//646/9cb/fea/6469cbfea616d475812219.jpg">
                <img alt="Advertisement banner" src=//file-rajshahi.portal.gov.bd/uploads/f5258379-edf7-4f4a-9306-d58f03afca06//646/9cb/fea/6469cbfea616d475812219.jpg width="100%" height="150" style="border: none;" alt=" " />
            </a>  
        </div>
                    <div class="ad_item">
            <a href="//file-rajshahi.portal.gov.bd/uploads/f5258379-edf7-4f4a-9306-d58f03afca06//643/7b8/603/6437b8603b46f361116110.jpeg">
                <img alt="Advertisement banner" src=//file-rajshahi.portal.gov.bd/uploads/f5258379-edf7-4f4a-9306-d58f03afca06//643/7b8/603/6437b8603b46f361116110.jpeg width="100%" height="150" style="border: none;" alt=" " />
            </a>  
        </div>
                </div>
        </div>
</div>

    
            
        
                
        <div class="block service-list">
<a href="http://webmail.mopa.gov.bd/" target="_blank">
    <h5 class="bk-org title eservice-title ces_title">MoPA ওয়েবমেইল </h5>
</a>
<div class="content">


</div>
</div>        
            
        
                
        <div class="block service-list">
<a href="//bangladesh.gov.bd/site/view/all_eservices_in_bangladesh/">
    <h5 class="bk-org title eservice-title ces_title">কেন্দ্রীয় ই-সেবা</h5>
</a>
<div class="content">


</div>
</div>        
            
        
                
        <div class="block service-list">
<h5 class="bk-org title eservice-title ces_title">ই-সেবা কেন্দ্র</h5>
<ul>
    <li>
        <a href="http://eporcha.gov.bd/khatian-search-panel" title="নকলের জন্য আবেদন" target="_blank">
            <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> নকলের জন্য আবেদন
        </a>
    </li>
    <li>
        <a href="//www.mygov.bd/" title="ই-সেবার আবেদন" target="_blank">
            <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> ই-সেবার আবেদন
        </a>
    </li>
</ul>
</div>        
            
        
                
       
<div class="block service-list">
<h5 class="bk-org title eservice-title ces_title">আভ্যন্তরীণ ই-সেবা</h5>
<div class="service-list-scroll">
    <ul>
                                <li>
            <a href="http://edirectory.apps.portal.gov.bd/" title="ই-ডিরেক্টরি">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> ই-ডিরেক্টরি
            </a>
        </li>
                                <li>
            <a href="http://ecourt.gov.bd/" title="ই-মোবাইল কোর্ট">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> ই-মোবাইল কোর্ট
            </a>
        </li>
                                <li>
            <a href="//www.teachers.gov.bd/" title="জাতীয় শিক্ষক বাতায়ন">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> জাতীয় শিক্ষক বাতায়ন
            </a>
        </li>
                                <li>
            <a href="//surokkha.gov.bd/" title="সুরক্ষা সিস্টেম">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> সুরক্ষা সিস্টেম
            </a>
        </li>
                                <li>
            <a href="http://lms.gov.bd/" title="লাইসেন্স ম্যানেজমেন্ট সিস্টেম">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> লাইসেন্স ম্যানেজমেন্ট সিস্টেম
            </a>
        </li>
                                <li>
            <a href="http://www.nimc.gov.bd/site/page/f7028512-8d0d-4752-9b69-1ec66d794165/%E0%A6%87-%E0%A6%B2%E0%A6%BE%E0%A6%87%E0%A6%AC%E0%A7%8D%E0%A6%B0%E0%A7%87%E0%A6%B0%E0%A7%80" title="ই-লাইব্রেরী">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> ই-লাইব্রেরী
            </a>
        </li>
                                <li>
            <a href="http://bdlaws.minlaw.gov.bd/" title="ল&#039;স অফ বাংলাদেশ">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> ল&#039;স অফ বাংলাদেশ
            </a>
        </li>
                                <li>
            <a href="//www.epassport.gov.bd/landing" title="ই-পাসপোর্ট">
                <i class=" text-green fa fa-check-circle" aria-hidden="true"></i> ই-পাসপোর্ট
            </a>
        </li>
                </ul>
</div>
</div>

 
            
        
                
        <div class="block service-list">
<h5 class="title social-bg">সামাজিক যোগাযোগ মাধ্যম</h5>
<div class="content">
            <a title="youtube" href="//www.youtube.com/channel/UCTcTpn0miTlITwieVIxRLow" target="_blank"
        class="share-buttons">
        <i class="fa fa-youtube-square fa-3x p-1 text-primary"></i>
    </a>
            <a title="facebook" href="//www.facebook.com/DCBogura" target="_blank"
        class="share-buttons">
        <i class="fa fa-facebook-square fa-3x p-1 text-primary"></i>
    </a>
        </div>
</div>
<div style="clear: both"></div>
<style>
.social-bg {
    /* background-image: url("//file.portal.gov.bd/media/central/themes/theme-default/img/right-bar-images/social_media_corner.jpg"); */
}
</style>        
            
        
                
        <div class="block service-list">
<a href="http://www.bogra.gov.bd/bn/site/view/innovation_content">
    <h5 class="bk-org title eservice-title ces_title">ইনোভেশন কর্নার </h5>
</a>
<div class="content">
</div>
</div>        
            
        
                
        <div class="block service-list">
<a href="http://www.bogra.gov.bd/bn/site/view/SpsData">
    <h5 class="bk-org title eservice-title ces_title">সেবা সহজিকরণ</h5>
</a>
<div class="content">
</div>
</div>        
            
        
                
        <div class="block service-list">
<h5 class="bk-org title eservice-title ces_title">ইভেন্ট ক্যালেন্ডার</h5>

<!-- Version 1.11.4 -->
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
<!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
<!-- Version 1.13.2 -->


<div class="content">
                    
    
    <div class="clearfix"></div>
    <div id="datepicker"></div>
    <div style="margin-top: 10px;">
        <a href="bn/site/view/calendar_event" class="btn btn-secondary" style="display:block; text-align:center; text-decoration:underline;color: #fff;font-weight: bold;">
            সকল ইভেন্ট
        </a>
    </div>
    
</div>
</div>        
            
    

 <!-- Missing partial: block-right-common -->    
</div>


                    <div class="blocks">
        
               
        <div class="block">
<a href="http://npftr.portal.gov.bd/new-domain" target="_blank">
    <h5 class="title">সরকারি অফিস সংযুক্তির ফরম</h5>
</a>
</div>
    
            
        
               
        <div class="block" aria-selected="true" tabindex="0">
<h5 class="title">জরুরি হটলাইন</h5>
<!--<div class="content">
   <img alt="জরুরি হটলাইন" src="//file.portal.gov.bd/media/central/uploaded-files/National-Helpline.jpg" style="height:100%; width:100%">
</div>-->
</div>        
            
    

</div>                        
                </div>
            </div>
                </div>

     </div>

