{% load static  %}
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>Govt. Mujibur rahman Women's Collge</title>
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="publisher" content="Govt. Mujibur rahman Women's Collge">
    <meta name="copyright" content="Govt. Mujibur rahman Women's Collge">
    <meta name="author" content="Design/Developed by: Tarique Sumon :: Govt. Mujibur rahman Women's Collge">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Govt. Mujibur rahman Women's Collge">
    <meta name="keywords" content="gmrwc, college, women's, mohila college,Bogura, Govt. Mujibur rahman Women's Collge, Mujibur rahman Women's Collge, Mujibur rahman Collge, Admission, HSC, NU, National University, bcs advertisement, Admit Card, Applicant's Copy">
    <link href="{% static 'css/admission/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/admission/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/admission/admission.css'%}" rel="stylesheet" type="text/css">
    <!--<script src="../Scripts/swfobject_modified.js" type="text/javascript"></script>
    <script src="../SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
    <script src="../SpryAssets/SpryValidationPassword.js" type="text/javascript"></script>-->
    
    <link href="{% static 'css/admission/SpryValidationTextField.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/admission/SpryValidationPassword.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://www.nothi.gov.bd/assets/global/plugins/bootstrap-toastr/toastr.min.css">

    <script type="text/javascript" src="{% url 'jsi18n' %}" > </script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>

    <style type="text/css" media="screen">
      @font-face {
        font-family: "kalpurushregular";
        src: url("//file-rajshahi.portal.gov.bd/media/central/themes/theme-default/fonts/Kalpurush.eot");
        src: url("//file-rajshahi.portal.gov.bd/media/central/themes/theme-default/fonts/Kalpurush.woff") format("woff"),
          url("//file-rajshahi.portal.gov.bd/media/central/themes/theme-default/fonts/Kalpurush.ttf") format("truetype"),
          url("//file-rajshahi.portal.gov.bd/media/central/themes/theme-default/fonts/Kalpurush.svg#Kalpurush") format("svg"),
          url("//file-rajshahi.portal.gov.bd/media/central/themes/theme-default/fonts/Kalpurush.eot?#iefix") format("embedded-opentype");
        font-weight: normal;
        font-style: normal;
      }
    </style>
    
    <style>
        body {
            margin-left: 0px;
            margin-top: 20px;
            margin-right: 0px;
            margin-bottom: 20px;
            background-color: #989ea2;
            background-position: left top;
            background-repeat: repeat-x;
            background-image: url("{% static 'images/main_bg.png'%}");
        }
        .main-right {
            background-image: url("{% static 'images/main_06.png'%}");
        }
        .main-left {
            background-image: url("{% static 'images/main_04.png'%}");

        }
        .main-button {
            background-image: url("{% static 'images/main_08.png'%}");

        }
        .main-top{
            background-image: url("{% static 'images/main_02.png'%}");

        } 
        
      
      
        #toast-container {
          opacity: 1;
          visibility: hidden;
          
        }
        #toast-container.toast-top-center{
          animation: fadeInAnimation ease 8s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        #toast-container:hover{
        animation-play-state: paused; 
        }
        @keyframes fadeInAnimation {
          0% {
              opacity: 1;
          }
        
          50% {
              opacity: 1;
          }
          100% {
              opacity: 0;
              visibility: hidden;
          }
        }
          
        
    </style>
    </head>
    
    <body>
    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td>
          <table width="1000" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="19"><img src="{% static 'images/main_01.png'%}" width="19" height="22"></td>
              <td width="961" class="main-top">&nbsp;</td>
              <td width="20"><img src="{% static 'images/main_03.png'%}" width="20" height="22"></td>
            </tr>
            <tr>
              <td class="main-left">&nbsp;</td>
              <td bgcolor="#E7E7E7"><table width="961" border="0" cellpadding="0" cellspacing="0" class="gap01">
                <tbody><tr>
                  <td align="left" valign="top" bgcolor="#B3CBE6" class="bdr-body"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td width="10%" height="95" align="center" valign="middle"><img src="{% static 'images/gmrwc_logo.png'%}" width="75" height="75"></td>
                      <td width="65%" height="95" align="left" valign="middle">
                                              
                        <span class="GrayBlue14b">Government of the People's Republic of Bangladesh</span><br>
                      <span class="GrayBlue20bold">Govt. Mujibur Rahman Women's College, Bogura</span>
                      </td>
                      <td width="25%" height="95" align="left" valign="middle"><span class="XamName">HSC Admission 2025<sup></sup> <br>Session:2025-26</span><br>
               <span class="black10">Application Deadline</span><br>
               <span class="black10bold">06:00pm, 31 December 2023</span></td>
                      </tr>
                  </tbody></table></td>
                </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="bdr-toplink"><tbody><tr><td bgcolor="#025A8A">
        <table border="0" cellpadding="5" cellspacing="0" class="cyan11">
            <tbody><tr>
              <td width="80" height="25" valign="middle"><a href="../home.php" class="link-home">Home</a></td>
              <td height="30" align="left" valign="middle"><a href="../options/plog.php" class="link02">Download Applicant's Copy</a></td>
              <td width="30" height="25" align="center" valign="middle">•</td>
              <td height="30" align="left" valign="middle"><a href="../options/pay.php" class="link02">Payment Status</a></td>
              <td width="30" height="25" align="center" valign="middle">•</td>
              <td height="30" align="left" valign="middle"><a href="../options/invoice.php" class="link02">Recover User ID</a></td>
              <td width="30" height="25" align="center" valign="middle">•</td>
              <td height="30" align="left" valign="middle"><a href="../options/pass.php" class="link02">Recover Password</a></td>
              <td width="30" height="25" align="center" valign="middle">•</td>
              <td height="30" align="left" valign="middle"><a href="../options/help.php" class="link02">Help</a></td>
            </tr>
        </tbody></table>
    </td></tr></tbody></table></td>
                </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td  bgcolor="#C9DAED" class="bdr-body" valign="top" >
                    <div class="progress">
                      <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 0%;"></div>
                  </div>
    <!-- CONTAINER -->
    <div class="container" style="width: 100%;">
      <div class="" style="margin: auto;width: 100%;">
          <!-- TITLE 
          <div class="col-lg-4 offset-lg-1 mx-0 px-0">
              <div id="title-container">
                  <img class="covid-image" src="./img/covid-check.png">
                  <h2>COVID-19</h2>
                  <h3>Self Checker Form</h3>
                  <p>A clinical assessment multi-step form that will assist individuals on deciding when to seek testing or medical care if they suspect they or someone they know has contracted COVID-19 or has come into close contact with someone who has COVID-19</p>
              </div>
          </div>-->
          <!-- FORMS -->
          <div >
    <form class="needs-validation" id="form-wrapper" method="post" name="form-wrapper" novalidate="">
          {% csrf_token %}
              <div id="qbox-container">
                      <div id="steps-container">
                          <div class="step d-block">
                            <div><h1 style="text-align: center;"><u>Personal Information</u></h1></div>

                            <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                              <tbody>
                              <tr>
                                <td align="left">
                                  <fieldset>
                                  <table width="100%" border="1" cellspacing="0" cellpadding="2">
                                    <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Personal Information</th></thead>
                                    <tbody>
                                    {% for field in form %}
                                    {{ field.errors }}
                                
                                      <tr>
                                          <td width="10%" align="left" valign="middle">&nbsp;</td>
                                          <td width="10%" align="left" valign="middle" class="black12">{{field.label_tag}}</td>
                                          <td width="10%" align="left" valign="middle" class="black12">:</td>
                                          <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                            <label>
                                              {{field}}                                        
                                            </label>
                                            <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                          <td width="5%" align="left" valign="middle">&nbsp;</td>
                                      </tr>
                                      {% endfor %}
                                      
                                        
                                    
      
                                  </tbody></table>
                                </fieldset>
                              </td>
                              <!--<td align="right">
                                <fieldset>
                                <table width="100%" border="1" cellspacing="0" cellpadding="3">
                                  <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Basic Information(Academic)</th></thead>

                                  <tbody>
                                    <tr>
                                      <td width="10%" align="left" valign="middle">&nbsp;</td>
                                      <td width="10%" align="left" valign="middle" class="black12">{{form.nationality.label}}</td>
                                      <td width="10%" align="left" valign="middle" class="black12">:</td>
                                      <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                        <label>
                                          {{form.nationality}}                                        
                                        </label>
                                        <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                  </tr>
                                    <tr>
                                      <td width="10%" align="left" valign="middle">&nbsp;</td>
                                      <td width="10%" align="left" valign="middle" class="black12">{{form.birth_registration.label}}</td>
                                      <td width="10%" align="left" valign="middle" class="black12">:</td>
                                      <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                        <label>
                                          {{form.birth_registration}}                                        
                                        </label>
                                        <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                  </tr>
                                     
                                      <tr>
                                        <td width="10%" align="left" valign="middle">&nbsp;</td>
                                        <td width="10%" align="left" valign="middle" class="black12">{{form.gender.label}}</td>
                                        <td width="10%" align="left" valign="middle" class="black12">:</td>
                                        <td width="25%" align="left" valign="middle"><span id="sprytextfield1">
                                          <label>
                                            {{form.gender}}                                        
                                          </label>
                                          <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                        
                                    </tr>
                                  
                                  <tr>
                                      <td width="10%" align="left" valign="middle">&nbsp;</td>
                                      <td width="10%" align="left" valign="middle" class="black12">{{form.exam_roll.label}}</td>
                                      <td width="10%" align="left" valign="middle" class="black12">:</td>
                                      <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                        <label>
                                          {{form.exam_roll}}                                        
                                        </label>
                                        <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td width="10%" align="left" valign="middle">&nbsp;</td>
                                    <td width="10%" align="left" valign="middle" class="black12">{{form.registration.label}}</td>
                                    <td width="10%" align="left" valign="middle" class="black12">:</td>
                                    <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                      <label>
                                        {{form.registration}}                                        
                                      </label>
                                      <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                    <td width="5%" align="left" valign="middle">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td width="10%" align="left" valign="middle">&nbsp;</td>
                                    <td width="10%" align="left" valign="middle" class="black12">{{form.session.label}}</td>
                                    <td width="10%" align="left" valign="middle" class="black12">:</td>
                                    <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                      <label>
                                        {{form.session}}                                        
                                      </label>
                                      <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                    <td width="5%" align="left" valign="middle">&nbsp;</td>
                                </tr>
                                
                                  <tr>
                                    <td width="10%" align="left" valign="middle">&nbsp;</td>
                                    <td width="10%" align="left" valign="middle" class="black12">{{form.group.label}}</td>
                                    <td width="10%" align="left" valign="middle" class="black12">:</td>
                                    <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                      <label>
                                        {{form.group}}                                        
                                      </label>
                                      <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                    <td width="5%" align="left" valign="middle">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td width="10%" align="left" valign="middle">&nbsp;</td>
                                    <td width="10%" align="left" valign="middle" class="black12">{{form.marital_status.label}}</td>
                                    <td width="10%" align="left" valign="middle" class="black12">:</td>
                                    <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                      <label>
                                        {{form.marital_status}}                                        
                                      </label>
                                      <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                    <td width="5%" align="left" valign="middle">&nbsp;</td>
                                <tr>
                                  <td width="10%" align="left" valign="middle">&nbsp;</td>
                                  <td width="10%" align="left" valign="middle" class="black12">{{form.blood_group.label}}</td>
                                  <td width="10%" align="left" valign="middle" class="black12">:</td>
                                  <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                    <label>
                                      {{form.blood_group}}                                        
                                    </label>
                                    <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                  <td width="5%" align="left" valign="middle">&nbsp;</td>
                              </tr>
                              
                                                               
                              </tbody></table>
                              </fieldset>
                            </td>-->
                            </tr>
                                
                            </tbody>
                          </table>
                            <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">
                              <tbody>
                              <tr>
                                <td align="left">
                                  <fieldset>
                                    <table width="100%" border="1" cellspacing="" cellpadding="5">
                                      <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;"><th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Permanent Adress</th></thead>
                                      <tbody>
                                        {% for field in adress_form %}
                                        <tr>
                                            <td width="10%" align="left" valign="middle">&nbsp;</td>
                                            <td width="10%" align="left" valign="middle" class="black12">{{field.label_tag}}</td>
                                            <td width="0%" align="left" valign="middle" class="black12">:</td>
                                            <td width="70%" align="left" valign="middle"><span id="sprytextfield1">
                                              <label>
                                                {{field}}                                        
                                              </label>
                                              <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                            <td width="5%" align="left" valign="middle">&nbsp;</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody></table>
                                  </fieldset>
                              </td>
                              <td align="left">
                                <fieldset>
                                  <table width="100%" border="1" cellspacing="0" cellpadding="3">
                                    <thead style="height: 25px; background-color: #245b80; color: #fff;">
                                      <th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Present Adress</th>
                                    </thead>
                                    <tbody>
                                      <tr><td colspan="5" align="right"><small>same as Permanent Adress</small> <input type="checkbox" id="present_adress"> </td></tr>
                                      {% for field in present_adress_form %}
                                        <tr>
                                            <td width="10%" align="left" valign="middle">&nbsp;</td>
                                            <td width="10%" align="left" valign="middle" class="black12">{{field.label_tag}}</td>
                                            <td width="0%" align="left" valign="middle" class="black12">:</td>
                                            <td width="70%" align="left" valign="middle"><span id="sprytextfield1">
                                              <label>
                                                {{field}} 
                                                                               
                                              </label>
                                              <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                            <td width="5%" align="left" valign="middle">&nbsp;</td>
                                        </tr>
                                        {% endfor %}                                      
                                        
                                  </tbody></table>
                                </fieldset>
                            </td>
                                </tr>
                                
                            </tbody>
                          </table>
                            
                          </div>
                          <div class="step d-none">
                          <div><h1 style="text-align: center;"><u>Guardian Information </u></h1></div>

                            <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                              <tbody>
                              <tr>
                                <td align="left">
                                  <fieldset>
                            
                              <table width="100%" border="1" cellspacing="0" cellpadding="3">
                                <thead style="height: 25px; background-color: #245b80; color: #fff;">
                                  <th colspan="5" style="height: 25px; background-color: #245b80; color: #fff; padding: 15px; margin-bottom: 15px;">Fill your guardian information</th>
                                </thead>
                                <tbody>
                                  {% for field in guardian_form %}
                                    {{ field.errors }}
                                
                                  <tr>
                                      <td width="10%" align="left" valign="middle">&nbsp;</td>
                                      <td width="10%" align="left" valign="middle" class="black12">{{ field.label_tag }}</td>
                                      <td width="10%" align="left" valign="middle" class="black12">:</td>
                                      <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                        <label>
                                          {{ field }}
                                        </label>
                                        <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                  </tr>
                                  {% endfor %}
  
                              
                                    
                                
  
                              </tbody></table>
                            </fieldset>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                          <div class="step d-none">

                            <div><h1 style="text-align: center;"><u>Academic Information</u></h1></div>

                            <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                              <tbody>
                              <tr>
                                <td align="left">
                                  <fieldset>
                            
                              <table width="100%" border="1" cellspacing="0" cellpadding="3">
                                <thead style="height: 25px; background-color: #245b80; color: #fff;">
                                  <th colspan="5" style="height: 25px; background-color: #245b80; color: #fff; padding: 15px; margin-bottom: 15px;">SSC or Equivalent Information</th>
                                </thead>
                                <tbody>
                                  {% for field in ssc_equivalent_form %}
                                    {{ field.errors }}
                                
                                  <tr>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                      <td width="25%" align="left" valign="middle" class="black12">{{ field.label_tag }}</td>
                                      <td width="5%" align="left" valign="middle" class="black12">:</td>
                                      <td width="65%" align="left" valign="middle"><span id="sprytextfield1">
                                        <label>
                                          {{ field }}
                                        </label>
                                        <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                  </tr>
                                  {% endfor %}
  
                              
                                    
                                
  
                              </tbody></table>
                            </fieldset>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                              
                          </div>
                          <div class="step d-none">
                              
                            <div><h1 style="text-align: center;"><u>Subject Choice Entry</u></h1></div>

                            <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                              <tbody>
                              <tr>
                                <td align="left">
                                  <fieldset>
                            
                              <table width="100%" border="1" cellspacing="0" cellpadding="3">
                                <thead style="height: 25px; background-color: #245b80; color: #fff;">
                                  <th colspan="5" style="height: 25px; background-color: #245b80; color: #fff; padding: 15px; margin-bottom: 15px;">Choose your desiered subject</th>
                                </thead>
                                <tbody>
                                  {% for field in subject_form %}
                                    {{ field.errors }}
                                
                                  <tr>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                      <td width="15%" align="left" valign="middle" class="black12">{{ field.label_tag }}</td>
                                      <td width="5%" align="left" valign="middle" class="black12">:</td>
                                      <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                        <label>
                                          {{ field }}
                                        </label>
                                        <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                  </tr>
                                  {% endfor %}
  
                              
                                    
                                
  
                              </tbody></table>
                            </fieldset>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          
                          <div class="step d-none">
                            <div class="mt-1">
                              <div class="closing-text">
                                  <h4>That's about it! Stay healthy!</h4>
                                  <p>We will assess your information and will let you know soon if you need to get tested for COVID-19.</p>
                                  <p>Click on the submit button to continue.</p>
                              </div>
                          </div>
                      </div>
                      <div id="success">
                          <div class="mt-5">
                              <h4>Success! We'll get back to you ASAP!</h4>
                              <p>Meanwhile, clean your hands often, use soap and water, or an alcohol-based hand rub, maintain a safe distance from anyone who is coughing or sneezing and always wear a mask when physical distancing is not possible.</p>
                              <a class="back-link" href="">Go back from the beginning ➜</a>
                          </div>
                      </div>
                      
                  </div>
                      <div id="q-box__buttons" >
                        <button id="prev-btn" type="button" class="d-inline-block">Previous</button> 
                        <button id="next-btn" type="button" class="d-inline-block">Next</button> 
                        <button id="submit-btn" type="submit" class="d-none">Submit</button>
                    </div>
                    
                      
              </div>
              
      </form>

          </div>
      </div>
  </div>
  <!-- PRELOADER -->
  <div id="preloader-wrapper">
    <div id="preloader"></div>
    <div class="preloader-section section-left"></div>
    <div class="preloader-section section-right"></div>
</div>
  
                      
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top" bgcolor="#B3CBE6" class="bdr-body"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                       <td width="0%" height="50" align="center" valign="middle" class="black10">&nbsp;</td>
                      <td width="49%" height="50" align="left" valign="middle">
                      <table width="100%" border="0" cellpadding="5" cellspacing="0" class="black10">
                        <tbody><tr>
                          <td width="85%" align="left" valign="middle">Helpline: 01684411451 (10:00am - 04:00pm)</td>
                        </tr>
                        <tr>
                          <td align="left" valign="middle">©2024, Govt. Mujibur Rahman Women's College, All Rights Reserved.</td>
                        </tr>
                      </tbody></table></td>
                      <td width="40%" height="50" align="left" valign="middle"><table width="100%" border="0" cellpadding="5" cellspacing="0" class="black10">
                        <tbody><tr>
                          <td width="85%" align="right" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="right" valign="middle">powered by</td>
                        </tr>
                      </tbody></table></td>
                      <td width="10%" height="50" align="center" valign="middle"><img src="../images/tbl_logo.png" width="83" height="44" alt=""></td>
                      </tr>
                  </tbody></table></td>
                </tr>
              </tbody></table></td>
              <td class="main-right">&nbsp;</td>
            </tr>
            <tr>
              <td><img src="{% static 'images/main_07.png'%}" width="19" height="19"></td>
              <td class="main-button">&nbsp;</td>
              <td><img src="{% static 'images/main_09.png'%}" width="20" height="19"></td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
    <div id="toast-container" class="toast-top-center" aria-level="polite" role="alert">
      <div class="toast toast-error" ><button class="toast-close-button" role="button">&#10006;</button>
          <div class="toast-message" >দুঃখিত! লাল চিহ্নিত বক্সে সঠিক তথ্য দিতে হবে</div></div>
  </div>

    <script src="{% static 'js/admission/script.js '%}"></script>
    <script type="text/javascript">
    var sprytextfield1 = new Spry.Widget.ValidationTextField("sprytextfield1");
    var sprypassword1 = new Spry.Widget.ValidationPassword("sprypassword1");
    </script>
    
    </body></html>